{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/proj/index.css' %}">
{% endblock %}

{% block main %}

<div class="main center-horizontal card" style="height: calc(100% - 24px);">

  <div class="card-body">

    <!-- - - - - - - --->
    <!--  BACK BUTTON -->
    <div class="form-group card-body">
      <form class="ajax-form" redirect="/">
        <button class="btn btn-link btn-lg jr-btn-sq">
          <i class="gg-arrow-left-o" style="bottom: 1px;"></i>
        </button>
      </form>
    </div>

    <!-- - - - - - - - - -->
    <!--  UPDATE ACCOUNT -->
    <form id="update-account"
          class="ajax-form card-body"
          url="../api/user/update/"
          type="post"
          onsuccess="display_status_success">

      <div class="form-group">
        <label class="form-label label-lg"
               for="update-account-display-name">Display Name</label>
        <input class="form-input input-lg jr-input"
               id="update-account-display-name"
               type="text"
               name="display_name"
               value="{{ default_display_name }}">
      </div>

      <div class="form-group">
        <label class="form-label label-lg"
               for="update-account-email">Email</label>
        <input class="form-input input-lg jr-input"
               id="update-account-email"
               type="email"
               name="email"
               value="{{ user.email }}"
               disabled>
      </div>

      <div class="form-group">
        <label class="form-label label-lg"
               for="update-account-first-name">Full Name</label>
        <input class="form-input input-lg jr-input"
               id="update-account-first-name"
               type="text"
               name="first_name"
               value="{{ user.first_name }}">
      </div>

      <div class="form-group">
        <button class="btn btn-lg btn-secondary jr-btn"
                type="submit"
                form="update-account">Update</button>
        <span class="ajax-form-status"><span>
      </div>

    </form>

    <div class="form-group manage-administrator">
      <div class="divider" style="margin-top: 24px; margin-bottom: 14;"></div>
    </div>

    <form class="ajax-form" redirect="https://accounts.spotify.com/authorize?client_id={{ secrets.SPOTIFY_CLIENT_ID }}&response_type=code&redirect_uri={{ secrets.SPOTIFY_HTTP }}%3A%2F%2F{{ secrets.SPOTIFY_DOMAIN }}%2Fconnect&scope=streaming%20app-remote-control%20user-modify-playback-state%20user-read-currently-playing%20user-read-playback-state">
      <button class="btn btn-lg btn-secondary jr-btn">
        Authorize Spotify <i class="fab fa-spotify" style="margin-left: 8px;"></i>
      </button>
    </form>

  </div>

</div>

{% endblock %}
