{% extends "base.html" %}

{% load static %}

{% block basestyles %}
<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Work+Sans:300,400,700,900&display=swap" rel="stylesheet">

<!-- custom styles -->
<link rel="stylesheet" href="{% static 'css/spectre/spectre.min.css' %}">
<link rel="stylesheet" href="{% static 'css/spectre/spectre-icons.min.css' %}">
<link rel="stylesheet" href="{% static 'css/proj/base.css' %}">


<script src="{% static 'js/jquery.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/proj/index.css' %}">
{% endblock %}

{% block main %}

<div id="csrf-token" class="hidden">
  {% csrf_token %}
</div>

<script>

var CSRF_TOKEN = $('#csrf-token').children().first().val();

</script>

<div class="main center-horizontal card hidden">

  <div class="card-body" style="width: 100%;">

    <div class="card-header">
      <div class="card-title h5">Add Record</div>
    </div>

    <!-- - - - - - - --->
    <!--  BACK BUTTON -->
    <div class="card-body" style="margin-bottom: 3.5rem;">
      <form class="ajax-form" redirect="/">
        <button class="btn btn-secondary" style="float: left;">
          <i class="icon icon-2x icon-back"></i>
        </button>
      </form>
    </div>

    <form id="log-in" class="ajax-form card-body" url="../../api/music/create_record/" type="post" redirect="/">

      {% csrf_token %}

      <div class="form-group">
        <label class="form-label" for="record-name">Record Name</label>
        <input class="form-input" id="record-name" type="text" name="record_name">
      </div>

      <div class="form-group">
        <label class="form-label" for="spotify-uri-1">Track 1 (Spotify URI)</label>
        <input class="form-input" id="spotify-uri-1" type="text" name="spotify_uri_1">
      </div>

      <div class="form-group">
        <label class="form-label" for="spotify-uri-2">Track 2 (Spotify URI)</label>
        <input class="form-input" id="spotify-uri-2" type="text" name="spotify_uri_2">
      </div>

      <div class="form-group">
        <label class="form-label" for="spotify-uri-3">Track 3 (Spotify URI)</label>
        <input class="form-input" id="spotify-uri-3" type="text" name="spotify_uri_3">
      </div>

      <div class="form-group">
        <label class="form-label" for="spotify-uri-4">Track 4 (Spotify URI)</label>
        <input class="form-input" id="spotify-uri-4" type="text" name="spotify_uri_4">
      </div>

      <div class="form-group">
        <label class="form-label" for="spotify-uri-5">Track 5 (Spotify URI)</label>
        <input class="form-input" id="spotify-uri-5" type="text" name="spotify_uri_5">
      </div>

      <div class="form-group">
        <label class="form-label" for="spotify-uri-6">Track 6 (Spotify URI)</label>
        <input class="form-input" id="spotify-uri-6" type="text" name="spotify_uri_6">
      </div>

      <div class="form-group">
        <label class="form-label" for="spotify-uri-7">Track 7 (Spotify URI)</label>
        <input class="form-input" id="spotify-uri-7" type="text" name="spotify_uri_7">
      </div>

      <div class="form-group">
        <label class="form-label" for="spotify-uri-8">Track 8 (Spotify URI)</label>
        <input class="form-input" id="spotify-uri-8" type="text" name="spotify_uri_8">
      </div>

      <div class="form-group">
        <button type="submit" form="log-in" class="btn btn-secondary">Add Record</button>
        <span class="text-info ajax-form-error" style="margin-left: 1.4em; color: red"><span>
      </div>

    </form>

  </div>

</div>

{% endblock %}
