{% extends "base.html" %}

{% load static %}

{% block basestyles %}
<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Work+Sans:300,400,700,900&display=swap" rel="stylesheet">

<!-- custom styles -->
<link rel="stylesheet" href="{% static 'css/spectre/spectre.min.css' %}">
<link rel="stylesheet" href="{% static 'css/spectre/spectre-icons.min.css' %}">
<link rel="stylesheet" href="{% static 'css/proj/base.css' %}">


<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/proj/addrecord.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/proj/index.css' %}">
{% endblock %}

{% block main %}

<div id="csrf-token" class="hidden">
  {% csrf_token %}
</div>

<script>

var CSRF_TOKEN = $('#csrf-token').children().first().val();

</script>

<div class="main center-horizontal card">

  <div class="card-body" style="width: 100%;">

    <div class="card-header">
      <div class="card-title h5">Create Record</div>
    </div>

    <!-- - - - - - - --->
    <!--  BACK BUTTON -->
    <div class="card-body" style="margin-bottom: 3.5rem;">
      <form id="back-button" class="ajax-form" redirect="/">
        <button class="btn btn-secondary" style="float: left;">
          <i class="icon icon-2x icon-back"></i>
        </button>
      </form>
    </div>

    <form id="search-library" class="ajax-form card-body" url="../../api/music/search_library/" type="get" onsuccess="display_search_results">

      <!-- TABS TO SELECT TYPE -->
      <input id="search-library-type" class="hidden" name="type" value="album">
      <div class="filter-nav">
        <label class="chip active" value="album">Album</label>
        <label class="chip" value="playlist">Playlist</label>
        <label class="chip" value="track">Song</label>
      </div>

      <!-- INLINE SEARCH BAR -->
      <div class="form-group" style="margin-top: 15px;">
        <input class="form-input input-lg" type="text" name="query" style="width: calc(100% - 40px); float: left;">
        <button type="submit" form="search-library" class="btn btn-primary btn-lg input-group-btn" style="width: 40px;">
          <i class="icon icon-2x icon-search"></i>
        </button>
      </div>

    </form>

    <!-- SEARCH RESULTS -->
    <div id="search-library-results" class="form-group hidden">
      <ul id="search-results-container" class="menu" style="max-height: calc(100vh - 500px); overflow-y: auto;">
        <!-- menu list items -->

      </ul>
    </div>

    <form id="create-record" class="ajax-form card-body" url="../../api/music/create_record/" type="post">
      <div class="form-group">
        <button type="submit" form="create-record" class="btn btn-secondary btn-lg" disabled>Create Record</button>
        <span class="text-info ajax-form-error" style="margin-left: 1.4em; color: red"><span>
      </div>
    </form>

  </div>

</div>

<script>

var url_string = location.href;
var url = new URL(url_string);
var stream_uuid = url.searchParams.get("stream_uuid");

$('#log-in').attr('redirect', '/record/list/?stream_uuid=' + stream_uuid)
$('#back-button').attr('redirect', '/record/list/?stream_uuid=' + stream_uuid)

</script>

{% endblock %}
