{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Chess">

    <title>Chess</title>

    {% block basestyles %}
    <!-- custom styles -->
    <link rel="stylesheet" href="{% static 'css/proj/base.css' %}">
    {% endblock %}

    {% block styles %}{% endblock %}
</head>

<!-- min width supported ~ 320px -->
<body>

    {% block main %}{% endblock %}

    {% block basescripts %}
    {% endblock %}

    {% block scripts %}{% endblock %}
</body>

</html>
