{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Broadcast your Spotify live and tune into others.">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />

    <title>Jukebox Radio</title>

    {% block basestyles %}

    <!-- imported styles -->
    <link rel="stylesheet" href="{% static 'css/spectre/spectre.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/spectre/spectre-icons.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Work+Sans:300,400,700,900&display=swap" rel="stylesheet">
    <link href="https://css.gg/c?=|music-speaker|comment|girl|music|layout-list|more|external" rel="stylesheet">
    <script src="https://kit.fontawesome.com/47f45af50e.js" crossorigin="anonymous"></script>

    <!-- custom styles -->
    <link rel="stylesheet" href="{% static 'css/proj/base.css' %}">

    {% endblock %}

    {% block styles %}{% endblock %}
</head>

<!-- min width supported ~ 320px -->
<body>

    {% block main %}{% endblock %}

    <!-- global JS variable: CSRF_TOKEN -->
    <div id="csrf-token" class="hidden">{% csrf_token %}</div>

    {% block basescripts %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/proj/main.js' %}"></script>
    {% endblock %}

    {% block scripts %}{% endblock %}

</body>

</html>
