{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/proj/index.css' %}">
{% endblock %}

{% block main %}

<div class="main center-horizontal card">

  <div class="card-body" style="width: 100%;">

    <!-- - - - - - - --->
    <!--  BACK BUTTON -->
    <div class="form-group card-body">
      <form class="ajax-form" redirect="/">
        <button class="btn btn-secondary btn-lg jr-btn-sq">
          <i class="icon icon-2x icon-back"></i>
        </button>
      </form>
    </div>

    <!-- - - - - - - - - -->
    <!--  CREATE STREAM  -->
    <form id="create-stream"
          class="ajax-form card-body"
          url="../api/music/create_stream/"
          type="post"
          redirect="/">

      <div class="form-group">
        <label class="form-label label-lg" for="name-create-stream">Name</label>
        <input class="form-input input-lg jr-input" id="name-create-stream" type="text" name="name">
      </div>

      <div class="form-group">
        <label class="form-label label-lg" for="name-create-tags">Emojis</label>
        <input class="form-input input-lg jr-input" id="name-create-tags" type="text" name="tags">
      </div>

      <div class="form-group">
        <button type="submit" form="create-stream" class="btn btn-lg btn-secondary jr-btn">Create Stream</button>
        <span class="ajax-form-error"><span>
      </div>

    </form>

  </div>

</div>

{% endblock %}
