{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/proj/createstream.css' %}">
{% endblock %}

{% block main %}

<div class="main center-horizontal card">

  <div class="card-body" style="width: 100%;">

    <!-- - - - - - - --->
    <!--  BACK BUTTON -->
    <div class="form-group card-body">
      <form class="ajax-form" redirect="/">
        <button class="btn btn-secondary btn-lg btn-icon">
          <i class="icon icon-2x icon-back"></i>
        </button>
      </form>
    </div>

    <!-- - - - - - - - - -->
    <!--  CREATE STREAM  -->
    <form id="create-stream"
          class="ajax-form card-body"
          url="../api/music/create_stream/"
          type="post"
          redirect="/">

      <div class="form-group">
        <label class="form-label label-lg" for="name-create-stream" style="color: #727e96;">Name</label>
        <input class="form-input input-lg" id="name-create-stream" type="text" name="name">
      </div>

      <div class="form-group">
        <label class="form-label label-lg" for="name-create-tags" style="color: #727e96;">Emojis</label>
        <input class="form-input input-lg" id="name-create-tags" type="text" name="tags">
      </div>

      <div class="form-group">
        <label class="form-label label-lg"></label>
        <button type="submit" form="create-stream" class="btn btn-secondary btn-lg">Create Stream</button>
        <span class="text-info ajax-form-error" style="margin-left: 1.4em; color: red"><span>
      </div>

    </form>

  </div>

</div>

{% endblock %}
