<div id="displayname-html" class="main center-horizontal card hidden" style="height: calc(100vh - 24px);">

  <div class="card-body">

    <!-- - - - - -->
    <!--  BANNER -->
    <div class="jr-banner">
      {{ stream.title }}
    </div>

    <!-- - - - - - - --->
    <!--  BACK BUTTON -->
    <div class="form-group">
      <form>
        <button type="button" class="btn btn-secondary btn-lg jr-btn-sq exit-manage">
          <i class="icon icon-2x icon-back"></i>
        </button>
      </form>
    </div>

    <!-- - - - - - - - - - - -->
    <!-- UPDATE DISPLAY NAME -->
    <form id="update-display-name"
          class="ajax-form card-body"
          url="../../../api/music/update_ticket/"
          type="post"
          redirect="/stream/{{ stream.unique_custom_id }}/">

      <div class="form-group">
        <label class="form-label label-lg" for="change-display-name">Display Name</label>
        <input class="form-input input-lg jr-input" id="change-display-name" type="text" name="display_name" value="{{ ticket.name }}">
      </div>

      <input class="hidden" type="text" name="stream_uuid" value="{{ stream.uuid }}">
      <input class="hidden" type="text" name="ticket_holder_uuid" value="{{ ticket.holder_uuid }}">

      <div class="form-group">
        <button type="submit" form="update-display-name" class="btn btn-lg btn-secondary jr-btn">Update</button>
        <span class="ajax-form-error"><span>
      </div>

    </form>

  </div>

</div>
