{% extends "base.html" %}

{% load static %}

{% block basestyles %}
<link rel="stylesheet" href="../static/css/spectre/spectre.min.css">
<link rel="stylesheet" href="../static/css/spectre/spectre-icons.min.css">
<link rel="stylesheet" href="../static/css/proj/base.css">
{% endblock %}

{% block main %}

<div class="modal" id="account-modal">
  <a href="#close" class="modal-overlay" aria-label="Close"></a>
  <div class="modal-container">

    <!-- <div class='wrapper'>
      <button class="footer-button cancel">
        Cancel
      </button>
    </div>

    <div class="footer-delimeter" style='width: calc(100% - 28px); margin-left: 14px;'></div> -->
    <div class='wrapper'>
      <button class="footer-button cancel-profile">
        Cancel
      </button>
    </div>
    <div class="footer-delimeter" style="width: calc(100% - 28px); margin-left: 14px;"></div>
    <div style="height:8px; width: 100%"></div>
    <p class="form-input-hint" style="max-width: 244px; margin-left: 14px;margin-right: 14px;">Your account information that is accessible by...</p>
    <ul class="tab tab-block" style="margin-left: 14px; margin-right: 14px;">
      <!-- <li class="tab-item active"><a class="badge" href="#tabs" data-badge="9">Public Info</a></li>
      <li class="tab-item"><a class="badge" href="#tabs" data-badge="99">Private</a></li> -->
      <li class="tab-item tab-anyone active"><a href="javascript:void(0);">Anyone</a></li>
      <!-- <li class="tab-item"><a href="javascript:void(0);">Friends</a></li> -->
      <li class="tab-item tab-you"><a href="javascript:void(0);">You</a></li>
    </ul>

    <div style="margin: 14px;">

      <form id="update-account" class="submit-form" url="../api/user/update/" type="post" onsuccess='hide_modal'>

        {% csrf_token %}

        <div class="content-anyone">
          <div class="form-group">
            <label class="form-label">Display Name</label>
            <input class="form-input update_display_name" type="text" name="display_name" placeholder="">
          </div>
          <label class="form-checkbox" style='max-width: 216px; padding-right: 0px;'>
            <input class='null-display-name' type="checkbox"><i class="form-icon"></i> Automatically randomize display name every showing.
          </label>
          <div style="height:94px; width: 12px"></div>
        </div>

        <div class="content-you" style="display: none;">
          <div class="form-group">
            <label class="form-label">First Name</label>
            <input class="form-input update_first_name" type="text" name="first_name" placeholder="">
          </div>
          <div class="form-group">
            <label class="form-label">Last Name</label>
            <input class="form-input update_last_name" type="text" name="last_name" placeholder="">
          </div>
          <div class="form-group">
            <label class="form-label">Email</label>
            <input class="form-input update_email" type="email" name="email" placeholder="">
          </div>
        </div>

        <div class="form-group" style="margin-top: 23px; margin-bottom: 20px; margin-right: 15px;">
          <button type="submit" form="update-account" class="btn btn-primary" style='float:right;'>Update</button>
        </div>
        <div style="height:44px; width: 100%; display: block"></div>
      </form>

    </div>
  </div>
</div>

<div class="card-body">

  <!-- - - - - - --->
  <!--  LOAD PAGE -->
  <form id="list-showings" class="submit-form" url="../api/music/list_showings/" type="get" submit="onload" onsuccess='display_showings' style="display: none;">

    {% csrf_token %}

  </form>

  <!-- - - - - - - - - --->
  <!--  CURRENT SHOWING -->
  <div id='current-showing' style='display: none;'>
    <div class='wrapper'>
      <button class="footer-button leave">
        Leave
      </button>
    </div>
    <div class="footer-delimeter"></div>

    <div class='main'>

      <div class="column col-12">
        <div class="panel">
          <div class="panel-header">
            <div class="panel-title h6">Comments</div>
          </div>
          <div class="panel-body" style='max-height: 600px;'>


          </div>
          <div class="panel-footer">
            <div class="input-group">
              <div class='dot-container low'>

              </div>
              <div class='dot-container mid_low'>

              </div>
              <div class='dot-container mid_high'>

              </div>
              <div class='dot-container high'>

              </div>
            </div>
            <div class='input-group'>
              <div class="statuses" style="display: none;">
                <button class='btn low'>
                  <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/twitter/214/white-frowning-face_2639.png">
                </button>
                <button class='btn mid_low'>
                  <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/twitter/214/confused-face_1f615.png">
                </button>
                <button class='btn mid_high'>
                  <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/twitter/214/slightly-smiling-face_1f642.png">
                </button>
                <button class='btn high'>
                  <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/twitter/214/grinning-face_1f600.png">
                </button>
              </div>
              <div class="waiting" style='display: none;'>
                <span class="label label-rounded label-primary showname waiting-countdown"></span><br>
              </div> <!--
              <div class="complete">

              </div> -->
            </div>
            <div class="input-group">
              <input id='chat-input' class="form-input" type="text">
              <button id='chat-submit' class="btn btn-primary input-group-btn">Send</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- - - - - - - - - - -->
  <!--  DISPLAY SHOWINGS -->
  <div id='display-scheduled-showings' style='display: none;'>
    <div class="form-group showings">

    </div>
  </div>

  <div id='account'>
    <div class="footer-delimeter"></div>
    <div class='wrapper'>
      <button class="footer-button account-button">
        Account
      </button>
    </div>
  </div>

  <!-- - - - - - -->
  <!--  ACCOUNT  -->
  <form id="logout" class="submit-form" url="../api/user/logout/" type="post" redirect="/">

    {% csrf_token %}

    <div class='wrapper'>
      <button class="footer-button">
        Logout
      </button>
    </div>

  </form>

</div>
{% endblock %}


{% block basescripts %}
<!-- <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script> -->
<script src="{% static '/js/jquery.js' %}"></script>
<script src="{% static '/js/proj/home.js' %}"></script>
<script src="{% static '/js/proj/main.js' %}"></script>
<script src="{% static '/js/chess/chess.min.js' %}"></script>
<script src="{% static '/js/proj/consumer.js' %}"></script>
{% endblock %}
