{% extends "base.html" %}

{% load static %}

{% block basestyles %}
<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Work+Sans:300,400,700,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/css/proj/base.css">
<link rel="stylesheet" href="../static/css/proj/list_streams.css">
<link rel="stylesheet" href="../static/css/proj/detail_stream.css">
<link rel="stylesheet" href="../static/css/proj/chat.css">
<link rel="stylesheet" href="../static/css/proj/modal.css">
<link rel="stylesheet" href="{% static '../static/css/spectre/spectre.min.css' %}">
<link rel="stylesheet" href="{% static '../static/css/spectre/spectre-icons.min.css' %}">

<script src="{% static '/js/jquery.js' %}"></script>
{% endblock %}

{% block main %}

<div id="csrf-token" class="hidden">
  {% csrf_token %}
</div>

<script>

var CSRF_TOKEN = $('#csrf-token').children().first().val();

</script>

<div class="main center-horizontal card">

  <div class="card-body">

    <!-- - - - - - - - - - - - - - - - - - - - - -->
    <!--  LOAD PAGE (LIST BROADCASTING SHOWINGS) -->
    <form class="ajax-form hidden"
          type="get"
          url="../api/music/list_broadcasting_streams/"
          submit="onload"
          onsuccess='display_broadcasting_streams'>

    </form>


    <!-- - - - - - - - - - - - - - --->
    <!--  LOAD PAGE (LIST SHOWINGS) -->
    <form class="ajax-form hidden"
          type="get"
          url="../api/music/list_streams/"
          submit="onload"
          onsuccess='display_tune_in_streams'>

    </form>

    <!-- - - - - - - - - - - - -->
    <!--  BROADCASTING STREAMS -->
    <div class="card-header" id="broadcasting-header">
      <div class="card-title h5">Broadcasting</div>
    </div>

    <div class="card-body">
      <form class="ajax-form" redirect="/createstream">
        <button class="btn">
          Create Stream
        </button>
      </form>
    </div>

    <div class="broadcasting-streams hidden"></div>

    <!-- - - - - - - - - --->
    <!--  TUNE IN STREAMS -->
    <div class="card-header">
      <div class="card-title h5">Tune In</div>
    </div>

    <div class="tune-in-streams hidden"></div>

    <!-- - - - --->
    <!-- FOOTER -->
    <div class='row align-center footer'>
      <form class="ajax-form" redirect="/account">
        <button>
          Account
        </button>
      </form>

      <form class="ajax-form" url="../api/user/logout/" type="post" redirect="/">
        <button>
          Logout
        </button>
      </form>
    </div>

  </div>

</div>

</div>
{% endblock %}


{% block basescripts %}
<!-- <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script> -->
<script src="{% static '/js/proj/chat.js' %}"></script>
<script src="{% static '/js/proj/templates.js' %}"></script>
<script src="{% static '/js/proj/detail_stream.js' %}"></script>
<script src="{% static '/js/proj/list_streams.js' %}"></script>
<script src="{% static '/js/proj/modal.js' %}"></script>
<script src="{% static '/js/proj/main.js' %}"></script>
<script src="{% static '/js/chess/chess.min.js' %}"></script>
{% endblock %}
