{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/proj/index.css' %}">
{% endblock %}

{% block main %}

<div class="main center-horizontal card">

  <div class="card-body">

    <div class="card-header">
      <div class="card-title h5">Jukebox Radio</div>
    </div>

    <div class="card-body">Broadcast your Spotify listening session so others can listen.</div>
    <div class="card-body">Share the queue with friends.</div>
    <div class="card-body" style="margin-bottom: 5.25rem;">Tune in to other streams to catch a vibe and explore new music.</div>

    <div class="card-footer">
      <a class="btn btn-primary" href="signup">Sign Up</a>
      <a class="btn btn-secondary" href="login">Log In</a>
    </div>

  </div>

</div>

{% endblock %}
