{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/proj/index.css' %}">
{% endblock %}

{% block main %}

<div class="main center-horizontal card" style="height: calc(100% - 24px);">

  <div class="card-body">

    <!-- - - - - - - - --->
    <!--  WEBPAGE TITLE -->
    <div class="jr-flex-center jr-title no-select">
      <span>Jukebox Radio</span>
    </div>

    <!-- - - - - - - - - --->
    <!--  WEBPAGE CONTENT -->
    <div class="jr-flex-center jr-content no-select">
      <span>Listen to music with friends on Spotify</span>
    </div>

    <!-- - - - - - - - --->
    <!--  WEBPAGE LINKS -->
    <div class="jr-flex-center">
      <a class="btn btn-lg btn-primary jr-btn" href="signup">Sign Up</a>
      <a class="btn btn-lg btn-secondary jr-btn" href="login" style="margin-left: 16px;">Log In</a>
    </div>

  </div>

</div>

{% endblock %}
