{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/proj/index.css' %}">
<link rel="stylesheet" href="{% static 'css/proj/play_bar.css' %}">
<link rel="stylesheet" href="{% static 'css/proj/stream.css' %}">
{% endblock %}

{% block main %}

<div class="main center-horizontal card" style="height: calc(100% - 24px);">

  <div class="card-body">

    <!-- - - - - - - - --->
    <!--  WEBPAGE TITLE -->
    <div class="jr-flex-center jr-title no-select">
      <span>Jukebox Radio</span>
    </div>

    <!-- - - - - - - - - --->
    <!--  WEBPAGE CONTENT -->
    {% if is_new_user %}
    <div class="jr-flex-center jr-content no-select">
      <span>Listen to music with friends on Spotify</span>
    </div>
    {% endif %}

    <!-- - - - - - - - --->
    <!--  WEBPAGE LINKS -->

    <div class="jr-flex-center" style="margin-top: 40px;">
      <div class="form-group card-body">
        <form class="ajax-form" redirect="https://accounts.spotify.com/authorize?client_id=133a25c7195344dbafd4f50d7450330f&response_type=code&redirect_uri=https%3A%2F%2Fjukebox.radio%2Fconnect&scope=streaming%20app-remote-control%20user-modify-playback-state%20user-read-currently-playing%20user-read-playback-state">
          <button class="btn btn-lg btn-secondary jr-btn">
            Authorize Spotify <i class="icon icon-link"></i>
          </button>
        </form>
      </div>
      <!-- localhost%3A8000 | jukeboxrad.io | jukebox.radio -->
    </div>

  </div>

</div>

{% endblock %}
