{% extends "base.html" %}

{% block main %}

<div class="main center-horizontal card">

  <div class="card-body">

    <!-- - - - - - - - --->
    <!--  WEBPAGE TITLE -->
    <div class="card-header">
      <div class="card-title h5">Jukebox Radio</div>
    </div>

    <!-- - - - - - - - - --->
    <!--  WEBPAGE CONTENT -->
    <div class="card-body">Link your Spotify to start listening.</div>

    <!-- - - - - - - - --->
    <!--  WEBPAGE LINKS -->
    <div class="card-footer">
      <!-- localhost%3A8000 | jukeboxrad.io | jukebox.radio -->
      <a class="btn btn-primary" href="https://accounts.spotify.com/authorize?client_id=133a25c7195344dbafd4f50d7450330f&response_type=code&redirect_uri=http%3A%2F%localhost%3A8000%2Fconnect%3Fsource%3Dspotify&scope=streaming%20app-remote-control%20user-modify-playback-state%20user-read-currently-playing%20user-read-playback-state">Authorize Spotify <i class="icon icon-link"></i></a>
    </div>

  </div>

</div>

{% endblock %}
