{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/proj/index.css' %}">
{% endblock %}

{% block main %}

<div id="stream-uuid" class="hidden">
  <input type="text" name="stream_uuid" value="{{ stream.uuid }}">
</div>

<div id="stream-unique-custom-id" class="hidden">
  <input type="text" name="stream_uuid" value="{{ stream.unique_custom_id }}">
</div>

<div class="main center-horizontal card">

  <div class="card-body" style="width: 100%;">

    <!-- - - - - -->
    <!--  BANNER -->
    <div class="jr-banner">
      {{ stream.title }}
    </div>

    <!-- - - - - - - - - - - - - -->
    <!--  LOAD PAGE (LIST HOSTS) -->
    <form class="ajax-form hidden"
          type="get"
          url="../../../api/music/list_hosts/"
          submit="onload"
          onsuccess='display_hosts'>
          <input type="text" name="stream_uuid" value="{{ stream.uuid }}">
    </form>

    <!-- - - - - - - --->
    <!--  BACK BUTTON -->
    <div class="form-group">
      <form class="ajax-form" redirect="/stream/{{ stream.unique_custom_id }}/">
        <button class="btn btn-secondary btn-lg jr-btn-sq">
          <i class="icon icon-2x icon-back"></i>
        </button>
      </form>
    </div>

    <!-- - - - - - - - - -->
    <!--  UPDATE STREAM  -->
    <form id="update-stream"
          class="ajax-form card-body"
          url="../../../api/music/update_stream/"
          type="post"
          onsuccess="stream_updated">

      <input class="hidden" type="text" name="stream_uuid" value="{{ stream.uuid }}">

      <div class="form-group">
        <label class="form-label label-lg" for="name-create-stream">Title</label>
        <input class="form-input input-lg jr-input" id="name-create-stream" type="text" name="stream_name" value="{{ stream.title }}">
      </div>

      <div class="form-group">
        <label class="form-label label-lg" for="tags-create-stream">Emojis</label>
        <input class="form-input input-lg jr-input" id="tags-create-stream" type="text" name="stream_tags" placeholder="Dance, Uplifting, ..."  value="{{ stream.tags }}">
      </div>

      <div class="form-group">
        <label class="form-label label-lg" for="tags-create-stream">Custom URL</label>

        <div class="input-group">
          <span class="url-base no-select input-group-addon">https://jukebox.radio/stream/</span>
          <input class="form-input input-lg " id="tags-create-stream" type="text" name="unique_custom_id" value="{{ stream.unique_custom_id }}" onClick="this.setSelectionRange(0, this.value.length)">
        </div>
      </div>

      <div class="form-group">
        <button type="submit" form="update-stream" class="btn btn-lg btn-secondary jr-btn">Update</button>
        <span class="ajax-form-error"><span>
      </div>

    </form>

    <div class="form-group">
      <div class="divider" style="margin-top: 24px; margin-bottom: 14;"></div>
    </div>

    <!-- - - - - - - - - -->
    <!--  UPDATE TICKET  -->
    <form id="update-display-name"
          class="ajax-form card-body"
          url="../../../api/music/update_ticket/"
          type="post"
          redirect="/stream/{{ stream.unique_custom_id }}/">

      <div class="form-group">
        <label class="form-label label-lg" for="change-display-name">Display Name</label>
        <input class="form-input input-lg jr-input" id="change-display-name" type="text" name="display_name" value="{{ ticket.holder_name }}">
      </div>

      <input class="hidden" type="text" name="stream_uuid" value="{{ stream.uuid }}">
      <input class="hidden" type="text" name="ticket_holder_uuid" value="{{ ticket.holder_uuid }}">

      <div class="form-group">
        <button type="submit" form="update-display-name" class="btn btn-secondary btn-lg jr-btn">Update</button>
        <span class="ajax-form-error"><span>
      </div>

    </form>

    <div class="form-group">
      <div class="divider" style="margin-top: 24px; margin-bottom: 14;"></div>
    </div>

    <!-- - - - - - --->
    <!-- HOSTS LIST -->
    <div class="hosts-list"></div>

    <!-- - - - - - - -->
    <!--  ADD HOST   -->
    <form id="add-host"
          class="ajax-form card-body"
          url="../../../api/music/update_ticket/"
          type="post"
          redirect="/stream/{{ stream.unique_custom_id }}/manage/">

      <div class="form-group">
        <label class="form-label" for="email-signup">Email</label>
        <input class="form-input input-lg jr-input" id="email-signup" type="email" name="email">
      </div>

      <input class="hidden" type="text" name="stream_uuid" value="{{ stream.uuid }}">
      <input class="hidden" type="text" name="is_administrator" value="true">

      <div class="form-group">
        <button type="submit" form="add-host" class="btn btn-lg btn-secondary jr-btn">Add Host</button>
        <span class="ajax-form-error"><span>
      </div>

    </form>

  </div>

</div>

<!-- - - - - - -->
<!--  PLAY BAR -->
{% include "play_bar.html" %}

{% endblock %}

{% block scripts %}
<script src="{% static '/js/proj/play_bar.js' %}"></script>
<script src="{% static '/js/proj/manage.js' %}"></script>
{% endblock %}
