<div id="search-view" class="main center-horizontal card hidden">
  <div class="card-body" style="width: 100%;">

    <form id="search-library"
          class="ajax-form"
          url="../../../api/music/search_library/"
          type="get"
          beforesubmit="validate_search_eligible"
          onsuccess="display_search_results">

      <!-- TABS TO SELECT TYPE -->
      <input id="search-library-type" class="hidden" name="type" value="track">
      <div id="search-type-choices" class="filter-nav" style="margin-bottom: 16px;">
        <label class="search-type active" value="track">Track</label>
        <label class="search-type" value="album">Album</label>
        <label class="search-type" value="playlist">Playlist</label>
      </div>

      <!-- INLINE SEARCH BAR -->
      <div class="input-group search-group">

        <button type="button" class="exit-search-button btn btn-secondary btn-lg search-back-button">
          <i class="icon icon-2x icon-back"></i>
        </button>

        <input id="search-bar-input"
               class="form-input input-lg search-input-bar"
               type="text"
               name="query"
               autocomplete="off">
        <button type="submit"
                form="search-library"
                class="hidden">
          <i class="icon icon-2x icon-search"></i>
        </button>
      </div>

    </form>

    <div id="search-results" class="no-scrollbar hidden"></div>

  </div>
</div>


<div id="queue-view" class="main center-horizontal card hidden">
  <div class="card-body" style="width: 100%;">

    <button type="button" class="exit-search-button btn btn-secondary btn-lg search-back-button" style="margin-bottom: 16px;">
      <i class="icon icon-2x icon-back"></i>
    </button>

    <div id="play-bar-queue" class="content queue">

      <div id="queued-up"></div>
    </div>

    <div class="input-group fake-search-bar">
      <input class="form-input input-lg  jr-input-left-half">
      <button type="button" class="btn btn-lg btn-secondary jr-btn-sq-right-half">
        <i class="icon icon-2x icon-search"></i>
      </button>
    </div>

  </div>
</div>

<div id="play-bar" class="play-bar center-horizontal">

  <!-- - - - - - - - - - --->
  <!--  BLANK -->
  <div class="content" style="width: 100%; height: 72px;"></div>

  <!-- - - - - - - - - - --->
  <!--  AUTHORIZE SPOTIFY -->
  <div class="content authorize-spotify hidden">
    <!-- localhost%3A8000 | jukeboxrad.io | jukebox.radio -->
    <div class="centered-button">
      <a class="btn btn-primary"
         href="https://accounts.spotify.com/authorize?client_id=133a25c7195344dbafd4f50d7450330f&response_type=code&redirect_uri=https%3A%2F%2Fjukebox.radio%2Fconnect&scope=streaming%20app-remote-control%20user-modify-playback-state%20user-read-currently-playing%20user-read-playback-state">
         Authorize Spotify <i class="icon icon-link"></i>
      </a>
    </div>
  </div>

  <!-- - - - - - - - - - - - - - - - - - - - - - --->
  <!--  WAITING FOR STREAM TO START PLAYING MUSIC -->
  <div class="content waiting-for-stream-to-start hidden" style="padding: 18px;">

    <div class="jr-spinning-record" style="float: left;"></div>

    <span class="jr-bubble-left no-overflow">Waiting for host to play music</span>

  </div>

  <!-- - - - - - - - - - --->
  <!--  PLEASE PLAY MUSIC -->
  <div class="content add-music-to-queue hidden" style="padding: 18px;">

    <div class="jr-spinning-record" style="float: left;"></div>

    <div class="input-group fake-search-bar" style="margin-left: 60px; margin-right: 6px;">
      <input class="form-input input-lg jr-input-left-half">
      <button type="button" class="btn btn-lg btn-secondary jr-btn-sq-right-half" style="min-width: 40px;">
        <i class="icon icon-2x icon-search"></i>
      </button>
    </div>

  </div>

  <!-- - - - - - - - - - - - - - -->
  <!--  SPOTIFY CLIENT NOT FOUND -->
  <div class="content spotify-streaming-client-not-found hidden">

    <span class="text">
      Start by streaming music on your device.
    </span>

    <a href="spotify:open">
      <button class="btn btn-lg square-right jr-btn-sq">
        <i class="gg-external" style="right: -7px; top: -1px;"></i>
      </button>
    </a>

  </div>

  <!-- - - - - - - - - - --->
  <!--  CURRENTLY PLAYING -->
  <div class="content currently-playing hidden">

    <img class="album-art" draggable="false"/>

    <button class="go-to-queue btn btn-lg square-right jr-btn-sq" style="float: right;">
      <i class="gg-layout-list" style="left: 6px;"></i>
    </button>

    <span class="jr-bubble-right no-overflow">Manage the queue</span>

  </div>

</div>

<!-- - - - - - - - - - - - - -->
<!--  LOAD QUEUE             -->
<form id="form-load-queue"
      class="ajax-form hidden"
      type="get"
      url="../../../api/music/list_queue/"
      submit="onload"
      onsuccess='populate_queue'>
  <input type="text" name="stream_uuid" value="{{ stream.uuid }}">
</form>
