<div id="play-bar" class="play-bar hide-under-view">

  <!-- - - - - - - - - - --->
  <!--  AUTHORIZE SPOTIFY -->
  <div class="content authorize-spotify">
    <!-- localhost%3A8000 | jukeboxrad.io | jukebox.radio -->
    <div class="centered-button">
      <a class="btn btn-primary"
         href="https://accounts.spotify.com/authorize?client_id=133a25c7195344dbafd4f50d7450330f&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fconnect&scope=streaming%20app-remote-control%20user-modify-playback-state%20user-read-currently-playing%20user-read-playback-state">
         Authorize Spotify <i class="icon icon-link"></i>
      </a>
    </div>
  </div>

  <!-- - - - - - - - - - - - - - - - - - - - - - --->
  <!--  WAITING FOR STREAM TO START PLAYING MUSIC -->
  <div class="content waiting-for-stream-to-start">

    <span class="text">
      Waiting for the stream to start playing music...
    </span>

    <div class="lds-dual-ring square-left"></div>

  </div>

  <!-- - - - - - - - - - --->
  <!--  PLEASE PLAY MUSIC -->
  <div class="content add-music-to-queue">

    <div class="lds-dual-ring square-left"></div>

    <button id="go-to-queue" class="btn btn-lg square-right tooltip tooltip-left force-tooltip" data-tooltip="Add music to the queue">
      <i class="gg-layout-list" style="left: 6px;"></i>
    </button>

  </div>

  <!-- - - - - - - - - - - - - - -->
  <!--  SPOTIFY CLIENT NOT FOUND -->
  <div class="content spotify-streaming-client-not-found">

    <span class="text">
      Start by streaming music on your device.
    </span>

    <a href="spotify:open">
      <button class="btn btn-lg square-right">
        <i class="gg-external" style="right: -7px; top: -1px;"></i>
      </button>
    </a>

  </div>

  <!-- - - - - - - - - - --->
  <!--  CURRENTLY PLAYING -->
  <div class="content currently-playing">

    <img class="album-art" draggable="false"/>

    {% if should_display_queue_button %}
    <button id="queue-button" class="btn btn-secondary btn-lg square-right">
      <i class="gg-layout-list" style="left: 6px;"></i>
    </button>
    {% endif %}

  </div>


  <div id="play-bar-queue" class="content queue" style="height: 110px;">

    <div id="queued-up"></div>

    <div class="add-to-queue-form">

      <form id="search-library"
            class="ajax-form"
            url="../../../api/music/search_library/"
            type="get"
            beforesubmit="validate_search_eligible"
            onsuccess="display_search_results">

        <!-- TABS TO SELECT TYPE -->
        <input id="search-library-type" class="hidden" name="type" value="track">
        <div id="search-type-choices" class="filter-nav" style="margin-bottom: 16px; margin-left: 24px;">
          <label class="search-type active" value="track">Track</label>
          <label class="search-type" value="album">Album</label>
          <label class="search-type" value="playlist">Playlist</label>
        </div>

        <!-- INLINE SEARCH BAR -->
        <div class="input-group search-group">
          <input id="search-bar-input"
                 class="form-input input-lg input-bar search-bar"
                 type="text"
                 name="query"
                 autocomplete="off">
          <button type="submit"
                  form="search-library"
                  class="btn btn-primary btn-lg input-button search-button">
            <i class="icon icon-2x icon-search"></i>
          </button>
        </div>

      </form>

  </div>

</div>

<!-- - - - - - - - - - - - - -->
<!--  LOAD QUEUE             -->
<form id="form-load-queue"
      class="ajax-form hidden"
      type="get"
      url="../../../api/music/list_queue/"
      submit="onload"
      onsuccess='populate_queue'>
  <input type="text" name="stream_uuid" value="{{ stream.uuid }}">
</form>
