<div id="play-bar" class="play-bar hide-under-view">

  <!-- - - - - - - - - - --->
  <!--  AUTHORIZE SPOTIFY -->
  <div class="content authorize-spotify">
    <!-- localhost%3A8000 | jukeboxrad.io | jukebox.radio -->
    <div class="centered-button">
      <a class="btn btn-primary"
         href="https://accounts.spotify.com/authorize?client_id=133a25c7195344dbafd4f50d7450330f&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fconnect&scope=streaming%20app-remote-control%20user-modify-playback-state%20user-read-currently-playing%20user-read-playback-state">
         Authorize Spotify <i class="icon icon-link"></i>
      </a>
    </div>
  </div>

  <!-- - - - - - - - - - - - - - - - - - - - - - --->
  <!--  WAITING FOR STREAM TO START PLAYING MUSIC -->
  <div class="content waiting-for-stream-to-start">

    <span class="text">
      Waiting for the stream to start playing music...
    </span>

    <div class="lds-dual-ring square-right"></div>

  </div>

  <!-- - - - - - - - - - --->
  <!--  PLEASE PLAY MUSIC -->
  <div class="content add-music-to-queue">

    <span class="text">
      Add music to the queue to start the stream.
    </span>

    <button id="go-to-queue" class="btn btn-lg square-right">
      <i class="gg-layout-list" style="left: 6px;"></i>
    </button>

  </div>

  <!-- - - - - - - - - - - - - - -->
  <!--  SPOTIFY CLIENT NOT FOUND -->
  <div class="content spotify-streaming-client-not-found">

    <span class="text">
      Start by streaming music on your device.
    </span>

    <a href="spotify:open">
      <button class="btn btn-lg square-right">
        <i class="gg-external" style="right: -7px; top: -1px;"></i>
      </button>
    </a>

  </div>

  <!-- - - - - - - - - - --->
  <!--  CURRENTLY PLAYING -->
  <div class="content currently-playing">

    <img class="album-art" draggable="false"/>

    {% if should_display_chat_button %}
    <button id="play-bar-chat-button" class="btn btn-primary btn-lg square-right">
      <i class="icon icon-message"></i>
    </button>
    {% endif %}

    {% if should_display_volume_button %}
    <form class="ajax-form"
          type="post"
          url="../../../api/music/change_volume/"
          onsuccess='changed_volume'>
      <input class="hidden" type="text" name="volume_level" value="change-volume">
      <button id="mute-button" class="btn btn-lg square-right">
        <i class="fas fa-volume-up"></i>
      </button>
    </form>
    {% endif %}

  </div>

</div>
