{% extends "base.html" %}

{% block basestyles %}
{% load static %}
<!-- Spectre.css ~ The lightweight, responsive and modern CSS framework -->
<!--                                                                    -->
<!--               https://picturepan2.github.io/spectre/               -->
<!--                                                                    -->
<link rel="stylesheet" href="../static/css/spectre/spectre.min.css">
<link rel="stylesheet" href="../static/css/spectre/spectre-icons.min.css">
<link rel="stylesheet" href="../static/css/chessboard/chessboard-0.3.0.min.css">

<!-- custom styles -->
<link rel="stylesheet" href="../static/css/proj/base.css">
{% endblock %}

{% block main %}

<div class="card-body">

  <div id="myBoard" style="width: 100%"></div>

  <form id="get-game">
    {% csrf_token %}
    <button type="submit" class="btn btn-secondary" style="margin-top: 1.4em; margin: auto; display: block;">Get Game</button>
  </form>
  <br>

  <form id="close-match">
    {% csrf_token %}
    <button type="submit" class="btn btn-secondary" style="margin-top: 1.4em; margin: auto; display: block;">Close Match</button>
  </form>
  <br>

  <form id="resign-match">
    {% csrf_token %}
    <button type="submit" class="btn btn-secondary" style="margin-top: 1.4em; margin: auto; display: block;">Resign Match</button>
  </form>
  <br>

  <form id="create-undo-request">
    {% csrf_token %}
    <button type="submit" class="btn btn-secondary" style="margin-top: 1.4em; margin: auto; display: block;">Create Undo Request</button>
  </form>
  <br>

  <form id="approve-undo-request">
    {% csrf_token %}
    <button type="submit" class="btn btn-secondary" style="margin-top: 1.4em; margin: auto; display: block;">Approve Undo Request</button>
  </form>
  <br>

  <form id="reject-undo-request">
    {% csrf_token %}
    <button type="submit" class="btn btn-secondary" style="margin-top: 1.4em; margin: auto; display: block;">Reject Undo Request</button>
  </form>
  <br>

  <form id="join-match">
    {% csrf_token %}
    <input type="text" name='join_code' placeholder="JOIN_CODE">
    <button type="submit" class="btn btn-primary" style="margin-top: 1.4em; margin: auto; display: block;">Join Game</button>
  </form>
  <br>

  <form id="take-move" style="display: none;">
    {% csrf_token %}
    <input id='take-move-uci' type="text" name='uci' placeholder="UCI">
    <button type="submit" class="btn btn-primary" style="margin-top: 1.4em; margin: auto; display: block;">Take Move</button>
  </form>
  <br>

  <p id="game-status" class="text-info" style="margin-top: 1.4em"><p>

</div>

{% endblock %}


{% block basescripts %}
<script src="../static/js/jquery.js"></script>
<script src="../static/js/proj/main.js"></script>
<script src="../static/js/chess/chess.min.js"></script>
<script src="../static/js/chessboard/chessboard-0.3.0.min.js"></script>
<script src="../static/js/proj/play.js"></script>
{% endblock %}


{% block scripts %}

<script>
  $('#close-match').submit(function(e){
    e.preventDefault();
    var data = $('#close-match').serializeArray()
    var ok = {}
    for(thi in data) {
      f = data[thi]
      ok[f['name']] = f['value']
    }
    console.log(ok)
    var data = {
        'thing': 'close-match',
        'csrfmiddlewaretoken': ok['csrfmiddlewaretoken'],
        'with_args': JSON.stringify({}),
    }
    $.ajax({
        url: 'http://127.0.0.1:8000/api/game/do/',
        type: 'post',
        data: data,
        success: function(data, status) {
          $("#game-status").text(JSON.stringify(data))
        }
    });
  });
  $('#resign-match').submit(function(e){
    e.preventDefault();
    var data = $('#resign-match').serializeArray()
    var ok = {}
    for(thi in data) {
      f = data[thi]
      ok[f['name']] = f['value']
    }
    console.log(ok)
    var data = {
        'thing': 'resign-match',
        'csrfmiddlewaretoken': ok['csrfmiddlewaretoken'],
        'with_args': JSON.stringify({}),
    }
    $.ajax({
        url: 'http://127.0.0.1:8000/api/game/do/',
        type: 'post',
        data: data,
        success: function(data, status) {
          $("#game-status").text(JSON.stringify(data))
        }
    });
  });
  $('#create-undo-request').submit(function(e){
    e.preventDefault();
    var data = $('#create-undo-request').serializeArray()
    var ok = {}
    for(thi in data) {
      f = data[thi]
      ok[f['name']] = f['value']
    }
    console.log(ok)
    var data = {
        'thing': 'create-undo-request',
        'csrfmiddlewaretoken': ok['csrfmiddlewaretoken'],
        'with_args': JSON.stringify({}),
    }
    $.ajax({
        url: 'http://127.0.0.1:8000/api/game/do/',
        type: 'post',
        data: data,
        success: function(data, status) {
          $("#game-status").text(JSON.stringify(data))
        }
    });
  });
  $('#approve-undo-request').submit(function(e){
    e.preventDefault();
    var data = $('#approve-undo-request').serializeArray()
    var ok = {}
    for(thi in data) {
      f = data[thi]
      ok[f['name']] = f['value']
    }
    console.log(ok)
    var data = {
        'thing': 'approve-undo-request',
        'csrfmiddlewaretoken': ok['csrfmiddlewaretoken'],
        'with_args': JSON.stringify({}),
    }
    $.ajax({
        url: 'http://127.0.0.1:8000/api/game/do/',
        type: 'post',
        data: data,
        success: function(data, status) {
          $("#game-status").text(JSON.stringify(data))
        }
    });
  });
  $('#reject-undo-request').submit(function(e){
    e.preventDefault();
    var data = $('#reject-undo-request').serializeArray()
    var ok = {}
    for(thi in data) {
      f = data[thi]
      ok[f['name']] = f['value']
    }
    console.log(ok)
    var data = {
        'thing': 'reject-undo-request',
        'csrfmiddlewaretoken': ok['csrfmiddlewaretoken'],
        'with_args': JSON.stringify({}),
    }
    $.ajax({
        url: 'http://127.0.0.1:8000/api/game/do/',
        type: 'post',
        data: data,
        success: function(data, status) {
          $("#game-status").text(JSON.stringify(data))
        }
    });
  });
  $('#join-match').submit(function(e){
      e.preventDefault();
      var data = $('#join-match').serializeArray()
      var ok = {}
      for(thi in data) {
        f = data[thi]
        ok[f['name']] = f['value']
      }
      console.log(ok)
      var data = {
          'thing': 'join-match',
          'csrfmiddlewaretoken': ok['csrfmiddlewaretoken'],
          'with_args': JSON.stringify({'join_code': ok['join_code']}),
      }
      $.ajax({
          url: 'http://127.0.0.1:8000/api/game/do/',
          type: 'post',
          data: data,
          success: function(data, status) {
            $("#game-status").text(JSON.stringify(data))
          }
      });
  });
</script>

{% endblock %}
