{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/proj/play_bar.css' %}">
<link rel="stylesheet" href="{% static 'css/proj/queue.css' %}">
{% endblock %}

{% block main %}

<div id="stream-uuid" class="hidden">
  <input type="text" name="stream_uuid" value="{{ stream.uuid }}">
</div>

<div class="main center-horizontal card">

  <div class="card-body" style="width: 100%;">

    <!-- - - - - - - - - - - - - -->
    <!--  LOAD PAGE (LIST HOSTS) -->
    <form class="ajax-form hidden"
          type="get"
          url="../../../api/music/list_queue/"
          submit="onload"
          onsuccess='display_queue'>
      <input type="text" name="stream_uuid" value="{{ stream.uuid }}">
    </form>

    <div class="card-header">
      <div class="card-title h5">Queue</div>
    </div>

    <div class="form-group card-body" style="margin-bottom: 3.5rem;">
      <form class="ajax-form" redirect="/stream/{{ stream.uuid }}/">
        <button class="btn btn-secondary" style="float: left;">
          <i class="icon icon-2x icon-back"></i>
        </button>
      </form>
    </div>

    <div class="queue-list"></div>

    <div id="conditionally-hide-divider" class="form-group" style="margin-top: 3.5rem;">
      <div class="divider"></div>
    </div>



    <form id="search-library" class="ajax-form card-body" url="../../../api/music/search_library/" type="get" onsuccess="display_search_results">

      <!-- TABS TO SELECT TYPE -->
      <input id="search-library-type" class="hidden" name="type" value="album">
      <div class="filter-nav">
        <label class="chip active" value="album">Album</label>
        <label class="chip" value="playlist">Playlist</label>
        <label class="chip" value="track">Song</label>
      </div>

      <!-- INLINE SEARCH BAR -->
      <div class="form-group" style="margin-top: 15px;">
        <input id="search-bar-input" class="form-input input-lg" type="text" name="query" style="width: calc(100% - 40px); float: left;">
        <button type="submit" form="search-library" class="btn btn-primary btn-lg input-group-btn" style="width: 40px;">
          <i class="icon icon-2x icon-search"></i>
        </button>
      </div>

    </form>

    <!-- SEARCH RESULTS -->
    <div id="search-library-results" class="form-group hidden">
      <ul id="search-results-container" class="menu" style="max-height: calc(100vh - 500px); overflow-y: auto;">
        <!-- menu list items -->

      </ul>
    </div>

    <form id="create-record" class="ajax-form card-body" url="../../../api/music/create_queue/" type="post" onsuccess="success_adding_queue">

      <input id="create-record-record-name" class="hidden" name="record_name">
      <input id="create-record-uri" class="hidden" name="uri">
      <input id="create-record-img" class="hidden" name="img">
      <input class="hidden" name="stream_uuid" value="{{ stream.uuid }}">

      <div class="form-group">
        <button id="create-record-submit" type="submit" form="create-record" class="btn btn-secondary btn-lg" disabled>Add to Queue</button>
        <span class="text-info ajax-form-error" style="margin-left: 1.4em; color: red"><span>
      </div>
    </form>


  </div>

</div>

<!-- - - - - - -->
<!--  PLAY BAR -->
{% include "play_bar.html" %}

{% endblock %}

{% block scripts %}
<script src="{% static '/js/proj/play_bar.js' %}"></script>
<script src="{% static '/js/proj/queue.js' %}"></script>
{% endblock %}
