{% extends "base.html" %}

{% load static %}

{% block basestyles %}
<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Work+Sans:300,400,700,900&display=swap" rel="stylesheet">

<!-- custom styles -->
<link rel="stylesheet" href="{% static 'css/spectre/spectre.min.css' %}">
<link rel="stylesheet" href="{% static 'css/spectre/spectre-icons.min.css' %}">
<link rel="stylesheet" href="{% static 'css/proj/base.css' %}">


<script src="{% static 'js/jquery.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/proj/index.css' %}">
<script src="{% static '/js/proj/api.js' %}"></script>
<script src="{% static '/js/proj/queue.js' %}"></script>
{% endblock %}

{% block main %}

<div id="csrf-token" class="hidden">
  {% csrf_token %}
</div>

<div id="stream-uuid" class="hidden">
  <input type="text" name="stream_uuid" value="{{ stream.uuid }}">
</div>

<script>

var CSRF_TOKEN = $('#csrf-token').children().first().val();
var STREAM_UUID = $('#stream-uuid').children().first().val();

</script>

<div class="main center-horizontal card hidden">

  <div class="card-body" style="width: 100%;">

    <!-- - - - - - - - - - - - - -->
    <!--  LOAD PAGE (LIST HOSTS) -->
    <form class="ajax-form hidden"
          type="get"
          url="../../../api/music/list_queue/"
          submit="onload"
          onsuccess='display_queue'>

          <input type="text" name="stream_uuid" value="{{ stream.uuid }}">

    </form>

    <div class="card-header">
      <div class="card-title h5">Queue</div>
    </div>

    <div class="form-group card-body" style="margin-bottom: 3.5rem;">
      <form class="ajax-form" redirect="/stream/{{ stream.uuid }}/">
        <button class="btn btn-secondary" style="float: left;">
          <i class="icon icon-2x icon-back"></i>
        </button>
      </form>
    </div>

    <div class="queue-list"></div>

    <div id="conditionally-hide-divider" class="form-group" style="margin-top: 3.5rem;">
      <div class="divider"></div>
    </div>

    <form id="add-record" class="ajax-form card-body" url="../../../api/music/create_queue/" type="post" redirect="/stream/{{ stream.uuid }}/queue/">

      {% csrf_token %}

      <div class="form-group">
        <label class="form-label" for="email-signup">Record</label>

        <div class="input-group">
          <input type="text" id="record-name" class="form-input" placeholder="..." name="record_name" disabled>
          <a href="/record/list?stream_uuid={{ stream.uuid }}"><div class="btn btn-primary input-group-btn"><i class="icon icon-2x icon-search"></i></div></a>
        </div>
      </div>

      <input type="text" id="record-id" class="hidden" name="record_id">

      <input type="text" id="stream-uuid" class="hidden" name="stream_uuid" value="{{ stream.uuid }}">

      <div class="form-group">
        <button type="submit" form="add-record" id="add-record-submit" class="btn btn-secondary" disabled>Add Record</button>
        <span class="text-info ajax-form-error" style="margin-left: 1.4em; color: red"><span>
      </div>

    </form>

  </div>

</div>

<script>

var url_string = location.href;
var url = new URL(url_string);
var record_id = url.searchParams.get("record_id");
var record_name = url.searchParams.get("record_name");

if(record_id) {
  $('#record-id').val(record_id);
  $('#record-name').prop("disabled", false).val(record_name)
  $('#add-record-submit').prop("disabled", false);
}

</script>

{% endblock %}
