{% extends "base.html" %}

{% load static %}

{% block basestyles %}
<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Work+Sans:300,400,700,900&display=swap" rel="stylesheet">

<!-- custom styles -->
<link rel="stylesheet" href="{% static 'css/spectre/spectre.min.css' %}">
<link rel="stylesheet" href="{% static 'css/spectre/spectre-icons.min.css' %}">
<link rel="stylesheet" href="{% static 'css/proj/base.css' %}">
<link rel="stylesheet" href="{% static 'css/proj/list_streams.css' %}">


<script src="{% static 'js/jquery.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/proj/index.css' %}">
<script src="{% static '/js/proj/list_streams.js' %}"></script>
<script src="{% static '/js/proj/templates.js' %}"></script>
{% endblock %}

{% block main %}

<div id="csrf-token" class="hidden">
  {% csrf_token %}
</div>

<script>

var CSRF_TOKEN = $('#csrf-token').children().first().val();

</script>

<div class="main center-horizontal card hidden">

  <div class="card-body" style="width: 100%;">

    <!-- - - - - - - - - - - - - -->
    <!--  LOAD PAGE (LIST RECORDS) -->
    <form class="ajax-form hidden"
          type="get"
          url="../../../api/music/list_records/"
          submit="onload"
          onsuccess='display_records'>

    </form>

    <div class="card-header">
      <div class="card-title h5">Records</div>
    </div>

    <!-- - - - - - - --->
    <!--  BACK BUTTON -->
    <div class="card-body" style="margin-bottom: 3.5rem;">
      <form class="ajax-form" redirect="/stream/{{ stream_uuid }}/queue">
        <button class="btn btn-secondary" style="float: left;">
          <i class="icon icon-2x icon-back"></i>
        </button>
      </form>
    </div>

    <div id="records-list"></div>

  </div>

</div>

{% endblock %}
