{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/proj/index.css' %}">
{% endblock %}

{% block main %}

<div class="main center-horizontal card" style="height: calc(100% - 24px);">

  <div class="card-body">

    <!-- - - - - - - - --->
    <!--  WEBPAGE TITLE -->
    <div class="jr-flex-center jr-title no-select">
      <span>Jukebox Radio</span>
    </div>

    <!-- - - - - - - --->
    <!--  BACK BUTTON -->
    <div class="form-group card-body">
      <form class="ajax-form" redirect="/">
        <button class="btn btn-lg btn-secondary jr-btn-sq">
          <i class="icon icon-2x icon-back"></i>
        </button>
      </form>
    </div>

    <!-- - - - - --->
    <!--  LOG IN  -->
    <form id="log-in"
          class="ajax-form card-body"
          url="../api/user/authenticate/"
          type="post"
          redirect="/">

      <div class="form-group">
        <label class="form-label label-lg" for="email-signin">Email</label>
        <input class="form-input input-lg jr-input" id="email-signin" type="text" name="username">
      </div>

      <div class="form-group">
        <label class="form-label label-lg" for="password-signin">Password</label>
        <input class="form-input input-lg jr-input" id="password-signin" type="password" name="password">
      </div>

      <div class="form-group">
        <button type="submit" form="log-in" class="btn btn-lg btn-secondary jr-btn">Log In</button>
        <span class="ajax-form-error"><span>
      </div>

    </form>

  </div>

</div>

{% endblock %}
