{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/proj/index.css' %}">
<link rel="stylesheet" href="{% static 'css/proj/home.css' %}">
<link rel="stylesheet" href="{% static 'css/proj/stream.css' %}">

<link rel="stylesheet" href="{% static 'css/proj/components/info.css' %}">
<link rel="stylesheet" href="{% static 'css/proj/components/search.css' %}">
<link rel="stylesheet" href="{% static 'css/proj/components/manage.css' %}">
<link rel="stylesheet" href="{% static 'css/proj/components/queue.css' %}">
<link rel="stylesheet" href="{% static 'css/proj/components/chat.css' %}">
<link rel="stylesheet" href="{% static 'css/proj/components/voice.css' %}">
{% endblock %}

{% block main %}

<div id="loading-view" class="main center-horizontal card" style="height: calc(100% - 24px);">

  <div class="card-body">

    <div id="stream-loading-content" class="jr-flex-center jr-title no-select">
      <p>Checking your connection...</p>
    </div>

    <div class="jr-flex-center jr-title no-select">
      <i id="join-stream-spinner" class="gg-spinner-two-alt"></i>
    </div>

    <div id="join-stream-status" class="jr-flex-center jr-title no-select hidden"></div>

    <div id="join-stream-debug-spotify" class="jr-flex-center jr-title no-select hidden" style="margin-top: 36px;">
      <p>We cannot reach your Spotify playback. On whatever device you are using, you must open the Spotify app, play any song, return here to this page, and then refresh.</p>
    </div>

    <div id="join-stream-debug-youtube" class="jr-flex-center jr-title no-select hidden" style="margin-top: 36px;">
      <p>If YouTube is not connected, you must refresh the webpage. You may also try opening the website in a new tab or closing and reopening your web browser.<p>
    </div>

    <div class="jr-flex-center jr-title no-select" style="margin-top: 40px;">
      <button id="join-stream-btn" class="btn btn-lg btn-primary jr-btn-primary go-to-chat-view hidden">
        Join Stream
      </button>
    </div>

  </div>

</div>

<!-- - - - - - - --->
<!--  CHAT VIEW -->
{% include "components/chat.html" %}

<!-- - - - - - - --->
<!--  MANAGE VIEW -->
{% include "components/manage.html" %}

<!-- - - - - - - -->
<!--  QUEUE VIEW -->
{% include "components/queue.html" %}

<!-- - - - - - - --->
<!--  SEARCH VIEW -->
{% include "components/search.html" %}

<!-- - - - - - --->
<!--  INFO VIEW -->
{% include "components/info.html" %}

<!-- - - - - - --->
<!--  VOICE VIEW -->
{% include "components/voice.html" %}

{% endblock %}

{% block scripts %}
<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>

<script src="{% static 'js/proj/stream.js' %}"></script>

<script src="{% static 'js/proj/components/chat.js' %}"></script>
<script src="{% static 'js/proj/components/manage.js' %}"></script>
<script src="{% static 'js/proj/components/queue.js' %}"></script>
<script src="{% static 'js/proj/components/search.js' %}"></script>
<script src="{% static 'js/proj/components/share.js' %}"></script>
<script src="{% static 'js/proj/components/info.js' %}"></script>
<script src="{% static 'js/proj/components/voice.js' %}"></script>
<script src="{% static 'js/proj/components/status.js' %}"></script>

<script src="{% static 'js/proj/components/playback/spotify.js' %}"></script>
<script src="{% static 'js/proj/components/playback/youtube.js' %}"></script>
<script src="{% static 'js/proj/components/playback/storage.js' %}"></script>
{% endblock %}
