{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/proj/index.css' %}">
<link rel="stylesheet" href="{% static 'css/proj/home.css' %}">
<link rel="stylesheet" href="{% static 'css/proj/stream.css' %}">

<link rel="stylesheet" href="{% static 'css/proj/components/info.css' %}">
<link rel="stylesheet" href="{% static 'css/proj/components/search.css' %}">
<link rel="stylesheet" href="{% static 'css/proj/components/manage.css' %}">
<link rel="stylesheet" href="{% static 'css/proj/components/queue.css' %}">
{% endblock %}

{% block main %}

<div id="main-view" class="main center-horizontal card" style="height: calc(100% - 24px);">

  <div class="card-body">

    <!-- - - - - --->
    <!--  BUTTONS -->
    <div style="width: 100%; height: 40px;">

      <form class="ajax-form" redirect="/" style="float: left;">
        <button class="btn btn-lg btn-link jr-btn-sq">
          <i class="gg-arrow-left-o" style="bottom: 1px;"></i>
        </button>
      </form>

      <button type="button"
              class="go-to-manage-view btn btn-lg btn-link jr-btn-sq"
              style="float: left;">
        <i class="gg-profile" style="bottom: 1px;"></i>
      </button>

      <button class="btn btn-lg btn-link jr-btn-sq go-to-info-view " style="float: right; margin-right: 0px;">
        <i class="gg-info" style="left: 1px;"></i>
      </button>

      <button id="go-to-queue-view" class="go-to-queue-view btn btn-lg btn-link jr-btn-sq {% if not ticket.is_administrator %}hidden{% endif %}" style="float: right;">
        <i class="gg-play-list-search" style="left: 5px;"></i>
      </button>

    </div>

    <!-- - - - - -->
    <!-- YOUTUBE -->
    <div id="youtube-video-player" style="margin-top: 24px;"></div>
    <div id="youtube-video-player-2" style="margin-top: 24px;"></div>

    <!-- - - --->
    <!-- SYNC -->
    <button id="sync-playback"
            class="btn btn-primary btn-lg jr-btn-primary hidden"
            style="margin-left: 24px; margin-top: 24px;float: right; width: 96px;">
      <i class="fas fa-sync-alt"></i>
    </button>

    <!-- - - --->
    <!-- CHAT -->
    <div class="chat-container" style="overflow-y: scroll; margin-top: 16px; margin-bottom: 16px;"></div>

    <!-- - - - - - - - --->
    <!-- CHAT INPUT BAR -->
    <div style="width: calc(100% - 48px); position: absolute; bottom: 24px;">
      <form class="ajax-form card-body" type="websocket">

        <input class="hidden" name="stream_uuid" value="{{ stream.uuid }}" />
        <input class="hidden" name="track_id" value="" />

        <div class="input-group">
          <textarea rows="1"
                 type="text"
                 id="chat-input-main"
                 class="form-input jr-input-left-half no-scrollbar"
                 placeholder=""
                 name="text"
                 autocomplete="off"
                 oninput="auto_grow(this)"></textarea>
          <button id="chat-submit"
                  class="btn btn-link jr-btn-sq-right-half">
            <i class="icon icon-2x icon-message" style="font-size: 16px; bottom: 6px;"></i>
          </button>
        </div>

      </form>
    </div>

  </div>

</div>

<!-- - - - - - - --->
<!--  MANAGE VIEW -->
{% include "components/manage.html" %}

<!-- - - - - - - -->
<!--  QUEUE VIEW -->
{% include "components/queue.html" %}

<!-- - - - - - - --->
<!--  SEARCH VIEW -->
{% include "components/search.html" %}

<!-- - - - - - --->
<!--  INFO VIEW -->
{% include "components/info.html" %}

{% endblock %}

{% block scripts %}
<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>

<script src="{% static 'js/proj/stream.js' %}"></script>

<script src="{% static 'js/proj/components/chat.js' %}"></script>
<script src="{% static 'js/proj/components/hosts.js' %}"></script>
<script src="{% static 'js/proj/components/queue.js' %}"></script>
<script src="{% static 'js/proj/components/search.js' %}"></script>
<script src="{% static 'js/proj/components/share.js' %}"></script>
<script src="{% static 'js/proj/components/info.js' %}"></script>

<script src="{% static 'js/proj/components/playback/spotify.js' %}"></script>
<script src="{% static 'js/proj/components/playback/youtube.js' %}"></script>
<script src="{% static 'js/proj/components/playback/storage.js' %}"></script>
{% endblock %}
