{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/proj/play_bar.css' %}">
<link rel="stylesheet" href="{% static 'css/proj/stream.css' %}">
{% endblock %}

{% block main %}

<div id="stream-uuid" class="hidden">
  <input type="text" name="stream_uuid" value="{{ stream.uuid }}">
</div>

<div class="main center-horizontal card">

  <div class="card-body" style="width: 100%;">

    <div class="card-body">
      <div class="toast toast-primary" style="width: 100%; font-size: 2rem;">{{ stream.title }}</div>
    </div>

    <div class="form-group card-body">
      <form class="ajax-form" redirect="/">
        <button class="btn btn-secondary btn-lg" style="float: left; width: 40px;">
          <i class="icon icon-2x icon-back"></i>
        </button>
      </form>

      {% if is_host %}

        <form class="ajax-form" redirect="/stream/{{ stream.uuid }}/manage">
          <button class="btn btn-secondary btn-lg" style="margin-left: 1.5rem; float: left; width: 40px;">
            <i class="gg-more" style="left: 8px;"></i>
          </button>
        </form>
        <form class="ajax-form" redirect="/stream/{{ stream.uuid }}/queue">
          <button class="btn btn-secondary btn-lg" style="margin-left: 1.5rem; width: 40px;">
            <i class="gg-layout-list" style="left: 6px;"></i>
          </button>
        </form>

      {% elif ticket.is_administrator %}

      <form class="ajax-form" redirect="/stream/{{ stream.uuid }}/displayname">
        <button class="btn btn-secondary btn-lg" style="margin-left: 1.5rem; float: left; width: 40px;">
          <i class="gg-girl" style="left: 1px;"></i>
        </button>
      </form>
        <form class="ajax-form" redirect="/stream/{{ stream.uuid }}/queue">
          <button class="btn btn-secondary btn-lg" style="margin-left: 1.5rem; width: 40px;">
            <i class="gg-layout-list" style="left: 2px;"></i>
          </button>
        </form>

      {% else %}

      <form class="ajax-form" redirect="/stream/{{ stream.uuid }}/displayname">
        <button class="btn btn-secondary btn-lg" style="margin-left: 1.5rem; width: 40px;">
          <i class="gg-girl" style="left: 1px;"></i>
        </button>
      </form>

      {% endif %}
    </div>

    <!-- - - --->
    <!-- CHAT -->
    <div class="card-body chat-container" style="height: calc(100vh - 331px); overflow-y: scroll;">

    </div>

    <form id="create-stream" class="ajax-form card-body" type="websocket" onsuccess='display_messages'>

      {% csrf_token %}

      <input class="hidden" name="stream_uuid" value="{{ stream.uuid }}" />
      <input class="hidden" name="track_id" value="" />

      <div class="form-group">
        <div class="input-group">
          <select class="hide form-select select" name="status">
            <option value="mid_low">😕</option>
            <option value="mid_high" selected>😐</option>
            <option value="high">😀</option>
          </select>
          <input type="text" id="chat-input-main" class="form-input input-lg" placeholder="" name="text" autocomplete="off" style="padding-left: 14px;">
          <button id="chat-submit" class="btn btn-primary input-group-btn btn-lg" style="width: 40px;">
            <i class="icon icon-2x icon-message"></i>
          </button>
        </div>
      </div>

    </form>

  </div>

</div>

<!-- - - - - - -->
<!--  PLAY BAR -->
{% include "play_bar.html" %}

{% endblock %}

{% block scripts %}
<script src="{% static 'js/proj/play_bar.js' %}"></script>
<script src="{% static 'js/proj/stream.js' %}"></script>
{% endblock %}
