/* * * * * * * * * */
/* SEARCH RESULTS  */
#search-results {
  margin-top: 16px;
  overflow-y: auto;
  border: 1px solid #727e96;
  border-radius: 12px;
}

#search-results > .search-result {
  height: 72px;
  width: calc(100% - 16px);

  margin: 8px;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 10px;

  cursor: pointer;
  outline: none;

  transition: all 0.2s ease;
}

#search-results > .search-result:hover,
#search-results > .search-result.active {
  background-color: #f0f1f4;
}

#search-results > .search-result:active {
  border-color: #5764c6;
  background-color: #f0f1f4;
}


#search-results > .search-result > img {
  height: 48px;

  margin: 11px;

  float: left;
}

#search-results > .search-result > .record-name {
  display: block;

  padding-left: 16px;
  padding-top: 14px;
  padding-right: 12px;

  text-align: left;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#search-results > .search-result > .artist-name {
  display: block;

  padding-left: 16px;
  padding-right: 12px;

  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* FILTER NAV CHOICE */

.filter-nav-option {
  font-size: 14px;
  height: 32px;
  line-height: 30px;

  display: inline-block;
  background-color: rgb(256, 256, 256, 0.95);
  color: #5764c6;
  border-radius: 8px;

  padding-left: 16px;
  padding-right: 16px;
  margin-right: 6px;
  transition: all 0.2s ease;

  cursor: pointer;
}

.filter-nav-option:hover {
  box-shadow: 0 0 0 2px rgba(234, 235, 248, 0.5)!important;
}

.filter-nav-option.active {
  box-shadow: 0 0 0 2px rgba(234, 235, 248, 0.5)!important;
}

/* SEARCH BAR */
#search-bar-input {
  border-radius: 12px;
  padding-left: 12px;
  color: #5764c6;
}
