* {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

/* @font-face {
  font-family: 'proj_emoji';
  src: url('/static/OpenSansEmoji.ttf')  format('truetype');
} */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main {
    height: calc(100vh - 28px);
    max-width: 300px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.photo {
    border-left: 10px;      /* this seems like a little bit of a hack */
    border-right: 10px;
    border-bottom: 10px;
}

.showing {
  transition: background-color 0.3s ease;
  border-radius: 6px;
  cursor: pointer;
  margin: 14px 0px;
}

.showing:hover, .footer-button:hover {
  background-color: rgba(48,55,66,.10);
}

.showtime {
  background: rgba(48,55,66,.60)!important;
  margin: 14px;
  color: #fff;
  padding: 8px;
  font-family: "Lucida Console", Monaco, monospace;
}

.showname {
  background: rgba(48,55,66,.90)!important;
  margin-left: 14px;
  padding: 8px;
  font-family: "Lucida Console", Monaco, monospace;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-delimeter {
  cursor: pointer;
  background: #f0f1f4;
  height: .1rem;

  width: calc(100% - 4px);
  margin-left: 2px;
}

.footer-button {
  cursor: pointer;
  color: rgba(48,55,66,.40)!important;
  transition: background-color 0.3s ease;
  padding: 6px 10px;
  border-radius: 4px;
  margin: 14px;
  font-size: 1.4rem;
}

.card-body {
  padding-bottom: 0!important;
  padding-top: 0!important;
  /* height: calc(100vh - 2.8em - 4px); */
  display: block;
}

.main > .chat {
  height: calc(100% - 90px);
  background: #f0f1f4;
  border-radius: 4px;
}

button:focus {outline:0;}
a:focus {outline:0;}

#account {
  position: absolute;
  width: 270px;
  bottom: 14px;
}

.status-options {
  position: absolute;
  bottom: 74px;
  margin: 14px;
  width: 240px;
  font-family: 'proj_emoji';
}

.status-options > button {
  padding: 13px;
  font-size: 18px;
  text-align: center;
  margin-right: 14px;

}

.tile {
  margin-top: 14px;
}

.title-content {
  padding-left: 14px;
}

.tile-subtitle {
  color: #3b4351!important;
  background-color: #c4c9d3;
  margin-left: -10px;
  border-radius: 8px;
  border-top-left-radius: 0px;
  padding: 8px;
}

.avatar {
  height: 2.4rem;
  width: 2.4rem;
}

.chat-window {
  position: absolute;
  bottom: 28px;
  margin: 14px;
  width: 240px;
}

.input-group > .statuses > .btn {
  width: 43.5px;
  /* border-width: 0.25px; */
  margin-right: 14px;
  position: relative;
  float: left;
  margin-bottom: 14px;
  transition: background-color 0.3s ease;
}

.input-group > .statuses > .btn:last-child {
    margin-right: 0px;
}

.input-group > .statuses > .btn > img {
  height: calc(100%);
}

.waiting-countdown {
  width: 100%;
  margin-bottom: 14px;
  margin-left: 0px;
}

.tile .tile-title {
  margin-top: 2px;
}

.modal.active .modal-container, .modal:target .modal-container {
  max-width: 720px;
}

.content-anyone, .content-you {
  margin-left: 14px;
  margin-right: 14px;
}

.dot-container {
  display: block;
  width: 63.5px;
  /* border-width: 0.25px; */
  margin-left: 2px;
  position: relative;
  float: left;
  margin-bottom: 14px;
  transition: background-color 0.3s ease;
}

.dot-container:first-child {

  margin-left: 2px;

}

.dot-container {
    margin-right: 2px;
    min-width: 53px;
}
