* {
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

.main {
    width: calc(100% - 32px);
    min-width: 310px;
    max-width: 400px;
    height: calc(100vh - 104px);
    border-color: #f1f1fc!important;
}

.main.card > .card-body {
  width: 100%;
  overflow-y: auto;
}

.main.card > .card-body::-webkit-scrollbar {
    display: none;  // Safari and Chrome
}

.hidden {
    display: none!important;
}

.disabled {
  cursor: not-allowed;
}

.center-horizontal {
    margin: 0 auto;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.card {
  display: flex;
  align-items: stretch;
  border: 2px #e7eaf2 solid;
  border-radius: 8px;
  margin-top: 16px;
}
