
.main-chat::-webkit-scrollbar {
    display: none;  // Safari and Chrome
}


.tile.seen > .commenter-img {
  width: 7px;
  height: 18px;
  border-radius: 10px;
  margin: 7px;
  float: left;
  display: inline-block;
}

.tile.seen > .comment-author {
  width: calc(100% - 56px);
  height: 28px;
  font-size: 14px;
  float: left;
  display: inline-block;
  padding: 6px 0 0 7px;
  font-weight: 700;
}

.tile.seen > .comment-text {
  margin: 7px;
  float: left;
  width: 100%;
}

.tile.seen > .comment-text.left-comment-padding {
  padding-left: 16px;
}
