
.chat::-webkit-scrollbar {
    display: none;  // Safari and Chrome
}

.chat {
  max-height: calc(100vh - 249.99px);-ms-overflow-style: none; scrollbar-width: none;
  overflow-y: scroll;
  border-top: 2px #e7eaf2 solid;
}


.tile.seen > .commenter-img {
  width: 7px;
  height: 18px;
  border-radius: 10px;
  margin: 7px;
  float: left;
  display: inline-block;
}

.tile.seen > .comment-author {
  width: calc(100% - 56px);
  height: 28px;
  font-size: 14px;
  float: left;
  display: inline-block;
  padding: 6px 0 0 7px;
  font-weight: 700;
}

.tile.seen > .comment-text {
  margin: 7px;
  float: left;
  width: 100%;
}

.tile.seen > .comment-text.left-comment-padding {
  padding-left: 16px;
}

.chat-text {
  width: calc(100% - 62px);
  height: 40px;
  border: 2px solid #576da7;
  border-radius: 21px;
}

.group.chat-input {
  height: 44px;
  margin-bottom: 5px;
}

.group.chat-input > input {
  padding-left: 12px;
  padding-right: 46px;
  font-size: 14px;
}


.group.chat-input > input:focus {
  background-color: #fafafc;
  outline: 0;
}

.circle-button.send {
  background-image: url('../../../static/svg/send.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  top: -39px;
  position: relative;
  left: 230px;
}

.tile > .group {
  display: flex;
  flex-wrap: wrap;
}

.commenter-img {
  float: left;
  margin-left: 25px;
  margin-right: 8px;
  margin-bottom: 6px;
  margin-top: 6px;
  width: 6px;
  height: 24px;
  border-radius: 4px;
}

.comment-author {
  line-height: 24px;
  font-size: 16px;
  float: left;
  margin-bottom: 8px;
  margin-top: 6px;
}

.comment-text {
  margin-left: 40px;
  padding: 8px;
  border-radius: 8px;
  border-top-left-radius: 0px;
  background-color: #e7eaf2;
  max-width: 234px;
  margin-bottom: 4px;
  overflow-wrap: break-word;
}

.status.waiting {
  text-align: center;
  margin-bottom: 15px;
  font-family: 'Major Mono Display', monospace;
}

.status.active > .btn {
  width: 45px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  height: 30px;
  margin-left: 13px;
  margin-bottom: 8px;
  border: 2px solid #576da7;
}

.status.active > .btn:first-child {
  margin-left: 18px;
}

.status.active > .btn.low {
  background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/twitter/214/white-frowning-face_2639.png');
}
.status.active > .btn.low.active {
  background-color: #b46f82;
}

.status.active > .btn.mid_low {
  background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/twitter/214/confused-face_1f615.png');
}
.status.active > .btn.mid_low.active {
  background-color: #d9b7c0;
}


.status.active > .btn.mid_high {
  background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/twitter/214/slightly-smiling-face_1f642.png');
}
.status.active > .btn.mid_high.active {
  background-color: #c0d9b7;
}

.status.active > .btn.high {
  background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/twitter/214/grinning-face_1f600.png');
}
.status.active > .btn.high.active {
  background-color: #82b46f;
}

.dot-container {
  width: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  height: 8px;
  margin-left: 13px;
  margin-bottom: 8px;
  float: left;
  margin-top: 2px;
}

.dot-container:first-child {
  margin-left: 18px;
}

.dot-container > div {
  margin-bottom: 2px;
}

.dot-container.low > div {
  background-color: #b46f82;
}
.dot-container.mid_low > div {
  background-color: #d9b7c0;
}
.dot-container.mid_high > div {
  background-color: #c0d9b7;
}
.dot-container.high > div {
  background-color: #82b46f;
}

.chat-margin-left {
  margin-left: 0px;
}

.tile.seen.full {
  margin-top: 8px;
}

.group.dots {

}
