

.showing-card {
  transition: background-color 0.3s ease;
  border-radius: 6px;
  cursor: pointer;
  margin: 14px 0px;
}

.showing-card:hover {
  background-color: rgba(48,55,66,.10);
}

.showing-card > .showing-album-art {
  width: calc(100% - 28px);
  border: rgba(48,55,66,.95) solid 2px;
  border-radius: 4px;
  margin: 14px;
}

.showing-card > .showing-album-title {
  background: rgba(48,55,66,.90)!important;
  margin-left: 14px;
  padding: 8px;
  font-family: "Lucida Console", Monaco, monospace;
  color: white;
}

.showing-card > .showing-showtime-scheduled {
  background: rgba(48,55,66,.60)!important;
  margin: 14px;
  color: #fff;
  padding: 8px;
  font-family: "Lucida Console", Monaco, monospace;
}
