header {
  background-color: #ffcf2b;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
  height: 28px;
  padding: 4px;
  padding-left: 10px;
  font-size: 20px;
  color: #fdfcf9;
  letter-spacing: 1.2px;
}


.mdc-theme--primary {
  color: #fdfcf9;
}

.mdc-theme--primary-bg {
  background-color: #ffcf2b;
}
