.jr-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jr-title {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 20px;
  color: #727e96;
}

.jr-btn {
  border-radius: 12px;
  padding-left: 24px!important;
  padding-right: 24px!important;
  color: #5764c6;
  background-color: rgb(256, 256, 256, 0.95)!important;
}

.jr-btn-primary {
  border-radius: 12px;
  padding-left: 24px!important;
  padding-right: 24px!important;
}

.jr-btn-sq {
  min-width: 40px!important;
  border-radius: 12px;
  margin-right: 16px;
  background-color: rgb(256, 256, 256, 0.95)!important;
}

.jr-btn.btn-secondary,
.jr-btn-sq.btn-secondary {
  background-color: rgb(256, 256, 256, 0.95)!important;
}

.jr-btn.btn-secondary:hover,
.jr-btn-sq.btn-secondary:hover {
  background-color: #5764c6!important;
}

.jr-btn.btn-link:hover,
.jr-btn.btn-link:focus,
.jr-btn.btn-link:active,
.jr-btn-sq.btn-link:hover,
.jr-btn-sq.btn-link:focus,
.jr-btn-sq.btn-link:active {
  box-shadow: 0 0 0 2px rgba(234, 235, 248, 0.5)!important;
}

.jr-btn.btn-secondary:focus,
.jr-btn-sq.btn-secondary:focus {
  background-color: #fbfbfe!important;
}

.jr-btn.btn-secondary:active,
.jr-btn-sq.btn-secondary:active {
  background-color: #4c59c2!important;
}

.jr-content {
  color: #727e96;
  margin-bottom: 40px;
}

.jr-input {
  padding: 9px 12px!important;
  color: #727e96;
  border: 1px solid #727e96;
  border-radius: 12px!important;
  box-shadow: none!important;
  background-color: rgb(256, 256, 256, 0.95)!important;
  font-size: 14px!important;
}
