
.list_streams {

}

.list_streams > .stream.card {

}

.stream.card {
  transition: background-color 0.3s ease;
  border-radius: 6px;
  cursor: pointer;
  margin: 14px;
  position: relative;
}

.broadcasting-stream.card {
  transition: background-color 0.3s ease;
  border-radius: 6px;
  cursor: pointer;
  margin: 14px;
  height: 182px;
  position: relative;
}

.stream.card:hover,
.broadcasting-stream.card:hover {
  background-color: rgba(48,55,66,.10);
}

.stream.card > .stream-album-art,
.broadcasting-stream.card > .stream-album-art {
  width: 106px;
  height: 106px;
  border: rgba(48,55,66,.10) solid 2px;
  border-radius: 4px;
  margin: 14px;
  float: left;
  display: inline-block;
  margin-top: 67px;
}

.stream.card > .stream-album-title,
.broadcasting-stream.card > .stream-album-title {
  background: rgba(48,55,66,.90)!important;
  margin-left: 14px;
  padding: 8px;
  color: white;
  display: block;
  width: calc(100% - 44px);
  border-radius: 4px;
  margin-top: 15px;
  position: absolute;
  height: auto;
}

.stream.card > .stream-showtime-scheduled,
.broadcasting-stream.card > .stream-showtime-scheduled {
  width: 110px;
  text-align: center;
  background: rgba(48,55,66,.60)!important;
  margin: 14px;
  color: #fff;
  padding: 8px;
  float: left;
  margin-top: 67px;
  height: 21px;
  border-radius: 4px;
  display: inline-block;
}
