
.queue-card {
  height: 72px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid #727e96;
  margin-bottom: 16px;
  background-color: rgb(256, 256, 256, 0.95);
}

.queue-card > form > div > img {
  width: 48px;
  height: 48px;
  margin: 11px;
  float: left;
}

.queue-card > form > div > .record-name {
  display: inline-block;
  float: left;
  padding-left: 16px;
  padding-top: 14px;
  padding-right: 12px;

  text-align: left;
  font-size: 16px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  max-width: 210px;
}

/* * * * * * * * * * * *  */
/* TOOLTIP SQUARE CONTENT */

#search-view,
#queue-view {
  height: calc(100vh - 24px)!important;
}

.search-back-button {
  min-width: 40px;
  border-radius: 12px;
}

.search-input-bar {
  margin-left: 16px!important;
  padding-left: 12px!important;
  color: #727e96;
  border: 1px solid #727e96;
  border-radius: 12px!important;
  box-shadow: none!important;
}

/* * * * * * * * * * * *  */
/* TOOLTIP SQUARE CONTENT */

.square-right {
  width: 40px;
  height: 40px;
  margin: 16px;
  float: right;
}

.square-left {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 24px;
}

/* * * * * */
/* SPINNER */

.lds-dual-ring {
  padding: 2px;
  background-color: rgb(256, 256, 256, 0.0);
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 4px solid #3f4eba;
  border-color: #3f4eba transparent #3f4eba transparent;
  animation: lds-dual-ring 3.33s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* * * * * */
/* TOOLTIP */

.force-tooltip::after {
  transform: translate(-16px, 50%)!important;
  background-color: rgba(0,0,0,0);
  color: #727e96;
  opacity: 1;
}

/* PLAY BAR SECTIONS */

.play-bar > .content {
  width: 100%;
  height: 72px;
  display: block;
}

.play-bar > .content.authorize-spotify {
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-bar > .content > .text {
  margin: 16px;
  margin-left: 40px;
  width: calc(100% - 168px);
  height: 40px;
  float: left;
}

.play-bar > .content > .album-art {
  height: 72px;
  width: 72px;
  float: left;
  display: inline-block;
}

.fake-search-bar > input {
  font-size: 14px!important;
  padding-left: 16px!important;
}

/* * * * * * */
/* PLAY BAR  */

.play-bar.hide-under-view {
  bottom: -108px;
  transition: all 0.2s ease;
}

.play-bar {
  margin-top: 12px;
  transition: bottom 0.5s ease;

  width: calc(100% - 24px);
  min-width: 310px;
  max-width: 400px;

  background-color: rgb(256, 256, 256, 0.95);
  backdrop-filter: blur(12px);
}

/* * * * * */
/* SEARCH  */

.search-type {
  font-size: 14px;
  height: 32px;
  line-height: 30px;

  display: inline-block;
  background-color: rgb(256, 256, 256, 0.95);
  color: #5764c6;
  border: 1px solid #5764c6;
  border-radius: 8px;

  padding-left: 16px;
  padding-right: 16px;
  margin-right: 6px;
  transition: all 0.2s ease;

  cursor: pointer;
}

.search-type:hover {
  background-color: #5764c6;
  color: #fff;
  border: 1px solid #4c59c2;
}

.search-type.active {
  background-color: #5764c6;
  color: #fff;
  border: 1px solid #4c59c2;
}

.search-bar {
  width: calc(100% - 64px);
  height: 40px;
}

.search-button {
  width: 40px;
  height: 40px;
}

/* * * * * * * * * */
/* SEARCH RESULTS  */
#search-results {
  margin-top: 16px;
  max-height: calc(100vh - 176px);
  overflow-y: auto;
  border: 1px solid #727e96;
  border-radius: 12px;
}

#search-results > .search-result {
  height: 72px;
  width: calc(100% - 16px);

  margin: 8px;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 10px;

  cursor: pointer;
  outline: none;

  transition: all 0.2s ease;
}

#search-results > .search-result:hover {
  background-color: #f0f1f4;
}

#search-results > .search-result:active {
  border-color: #5764c6;
}

#search-results > .search-result:active {
  background-color: #f0f1f4;
}

#search-results > .search-result > img {
  height: 48px;

  margin: 11px;

  float: left;
}

#search-results > .search-result > .record-name {
  display: block;

  padding-left: 16px;
  padding-top: 14px;
  padding-right: 12px;

  text-align: left;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#search-results > .search-result > .artist-name {
  display: block;

  padding-left: 16px;
  padding-right: 12px;

  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
