.playback {

}

.playback > .circle-button {
  height: 36px;
  width: 36px;
  border-radius: 21px;
  border: 2px solid #576da7;
  float: left;
  cursor: pointer;
}

.playback > .circle-button:hover {
  background-color: #e7eaf2;
  transition: background-color 0.3s ease;
}

.playback > .circle-button.play {
  background-image: url('../../../static/svg/play.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.playback > .circle-button.pause {
  background-image: url('../../../static/svg/pause.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.playback > .circle-button.skip-forward {
  background-image: url('../../../static/svg/skip-forward.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.playback > .track-status {
  float: left;
  margin-top: 14px;
  width: 104px;
}
