
.square-right {
  width: 40px;
  height: 40px;
  margin-top: 16px;
  margin-right: 16px;
  float: right;
}

/* SPINNER */

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #5764c6;
  border-color: #5764c6 transparent #5764c6 transparent;
  animation: lds-dual-ring 3.33s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* PLAY BAR SECTIONS */

.play-bar > .content.authorize-spotify {
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-bar > .content > .text {
  margin-top: 16px;
  margin-left: 16px;
  width: calc(100% - 104px);
  height: 40px;
  float: left;
}

.play-bar > .content > .album-art {
  height: 72px;
  width: 72px;
  float: left;
  display: inline-block;
}

/* * * * * * */
/* PLAY BAR  */

.play-bar.hide-under-view {
  bottom: -108px;
  transition: all 0.2s ease;
}

.play-bar {
  width: calc(100% - 32px);
  min-width: 310px;
  max-width: 400px;
  height: 72px;
  position: fixed;
  bottom: -36px;

  background-color: rgb(256, 256, 256, 0.9);

  border-top: 2px solid #f1f1fc;
  border-left: 2px solid #f1f1fc;
  border-right: 2px solid #f1f1fc;

  left: 50%;
  transform: translate(-50%, -50%);

  transition: bottom 0.5s ease;
}
