rounded-button.chat-container::-webkit-scrollbar {
    display: none;  // Safari and Chrome
}

.stream-name {
  background: #5764c6;
  color: white;
  width: 100%;
  height: 48px;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 4px;
  font-weight: 800;
  border-radius: 12px;
  padding: 15px 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-icon {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  margin-top: 16px;
  float: left;
  margin-left: 16px;
  background-color: rgb(256, 256, 256, 0.95);
}

.btn-icon:first-child {
  margin-left: 0px;
}


#chat-input-main {
  background-color: rgb(256, 256, 256, 0.95);
}

.rounded-button {
  border-radius: 12px!important;
  padding-left: 24px!important;
  padding-right: 24px!important;
}

.url-base {
  background-color: rgb(256, 256, 256, 0.95)!important;
  font-size: 12px;
  padding: 9px!important;
}
