
<div id="info-view" class="main center-horizontal card hidden">
  <div class="card-body" style="width: 100%;">

    <div style="display: inline-block; height: 40px;">

      <button type="button" class="exit-search-button btn btn-link btn-lg jr-btn-sq" style="float: left;">
        <i class="gg-arrow-bottom-left-o" style="bottom: 1px;"></i>
      </button>

    </div>

    <!-- - - - - -->
    <!--  BANNER -->
    <div class="jr-info-banner"></div>

    <h4 id="info-record-name" style="text-align: center; margin-top: 36px; margin-bottom: 36px;"></h4>

    <img id="info-album-art" style="width: 100%;" />

  </div>
</div>
