<div id="info-view" class="main center-horizontal card hidden" style="height: calc(100% - 24px);">
  <div class="card-body" style="width: 100%;">

    <!-- - - - - - - - - - --->
    <!--  BACK TO MAIN VIEW -->
    <div style="width: 100%; height: 40px;">

      <button type="button"
              class="go-to-chat-view btn btn-link btn-lg jr-btn-sq"
              style="float: left;">
        <i class="gg-arrow-bottom-left-o" style="bottom: 1px;"></i>
      </button>

      <button type="button"
              class="go-to-manage-view btn btn-lg btn-link jr-btn-sq"
              style="float: left;">
        <i class="gg-profile" style="bottom: 1px;"></i>
      </button>

      <!-- go to info view -->
      <button type="button"
              class="btn btn-lg btn-link jr-btn-sq share-link"
              style="float: right; margin-right: 0px;">
        <i class="gg-share" style="left: 2px;"></i>
      </button>

      <!-- go to search view -->
      <button type="button"
              class="go-to-queue-view btn btn-lg btn-link jr-btn-sq"
              style="float: right;">
        <i class="gg-play-list-search" style="left: 5px;"></i>
      </button>

    </div>


    <!-- - - - - -->
    <!--  BANNER -->
    <div class="jr-info-banner"></div>

    <!-- - - - - - - --->
    <!--  RECORD NAME -->
    <h4 id="info-record-name" style="text-align: center; margin-top: 33px; margin-bottom: 33px; display: inline-block;"></h4>

    <!-- - - - - - --->
    <!--  ALBUM ART -->
    <img id="info-album-art" style="width: 100%;" />

  </div>
</div>
