
<div id="manage-view" class="main center-horizontal card hidden" style="height: calc(100% - 24px);">

  <div class="card-body">

    <!-- - - - - - - - - - - - - -->
    <!--  LOAD PAGE (LIST HOSTS) -->
    <form id="list-hosts-form"
          class="ajax-form hidden"
          type="get"
          url="../../../api/music/ticket/list"
          submit="onload"
          onsuccess='display_hosts'>
          <input type="text" name="stream_uuid" value="{{ stream.uuid }}">
    </form>

    <div style="width: 100%; height: 40px;">

      <!-- go back to main view -->
      <button type="button"
              class="go-to-main-view btn btn-link btn-lg jr-btn-sq"
              style="float: left;">
        <i class="gg-arrow-bottom-left-o" style="bottom: 1px;"></i>
      </button>

      <!-- go to hosts view -->
      <!-- <button type="button"
              class="go-to-hosts-view btn btn-lg btn-link jr-btn-sq"
              style="float: left; padding-left: 9px;">
        <i class="gg-user-list"></i>
      </button> -->

      <!-- go to info view -->
      <button class="btn btn-lg btn-link jr-btn-sq go-to-info-view" style="float: right; margin-right: 0px;">
        <i class="gg-info" style="left: 1px;"></i>
      </button>

      <!-- go to search view -->
      <button id="go-to-queue-view"
              class="go-to-queue-view btn btn-lg btn-link jr-btn-sq {% if not ticket.is_administrator %}hidden{% endif %}"
              style="float: right;">
        <i class="gg-play-list-search" style="left: 5px;"></i>
      </button>

    </div>


    <!-- - - - - - - - - -->
    <!--  UPDATE STREAM  -->
    <form id="update-stream"
          class="ajax-form card-body manage-administrator"
          url="../../../api/music/stream/update/"
          type="post"
          onsuccess="display_status_success"
          style="margin-top: 6px;">

      <input class="hidden" type="text" name="stream_uuid" value="{{ stream.uuid }}">

      <div class="form-group">
        <label class="form-label label-lg" for="name-create-stream">Title</label>
        <input class="form-input input-lg jr-input" id="name-create-stream" type="text" name="stream_name" value="{{ stream.title }}">
      </div>

      <div class="form-group">
        <label class="form-label label-lg" for="emojis-create-stream">Emojis</label>
        <input class="form-input input-lg jr-input" id="emojis-create-stream" type="text" name="stream_tags" placeholder="Dance, Uplifting, ..."  value="{{ stream.tags }}">
      </div>

      <div class="form-group">
        <label class="form-label label-lg" for="custom-url-create-stream">Custom URL</label>

        <div class="input-group">
          <span class="url-base no-select">https://jukebox.radio/stream/</span>
          <input class="form-input input-lg url-ext" id="custom-url-create-stream" type="text" name="unique_custom_id" value="{{ stream.unique_custom_id }}" onClick="this.setSelectionRange(0, this.value.length)">
        </div>
      </div>

      <div class="form-group" style="margin-bottom: 26px; margin-top: 24px;">
        <label class="form-checkbox">
          <input name="stream_is_private" type="checkbox" {% if stream.is_private %}checked{% endif %}>
          <i class="form-icon" style="width: 18px; height: 18px; border-radius: 6px;"></i>
          <span style="padding-left: 8px; padding-top: 2px; font-size: 14px; line-height: 23px;">Only hosts can tune in</span>
        </label>
      </div>

      <div class="form-group">
        <button type="submit" form="update-stream" class="btn btn-lg btn-secondary jr-btn">Update</button>
        <span class="ajax-form-status"><span>
      </div>

    </form>

    <div class="form-group manage-administrator">
      <div class="divider" style="margin-top: 24px; margin-bottom: 14;"></div>
    </div>

    <!-- - - - - - - - - -->
    <!--  UPDATE TICKET  -->
    <form id="update-display-name"
          class="ajax-form card-body"
          url="../../../api/music/ticket/update/"
          type="post"
          onsuccess="display_status_success">

      <div class="form-group">
        <label class="form-label label-lg" for="change-display-name">Display Name</label>
        <input class="form-input input-lg jr-input" id="change-display-name" type="text" name="display_name" value="{{ ticket.name }}">
      </div>

      <div class="form-group" style="margin-bottom: 26px; margin-top: 24px;">
        <label class="form-checkbox">
          <input name="is_hidden_when_idle" type="checkbox" {% if ticket.is_hidden_when_idle %}checked{% endif %} {% if is_host %}disabled{% endif %}>
          <i class="form-icon" style="width: 18px; height: 18px; border-radius: 6px;"></i>
          <span style="padding-left: 8px; padding-top: 2px; font-size: 14px; line-height: 23px;">Hide when idle?</span>
        </label>
      </div>

      <input class="hidden" type="text" name="stream_uuid" value="{{ stream.uuid }}">

      <div class="form-group">
        <button type="submit" form="update-display-name" class="btn btn-secondary btn-lg jr-btn">Update</button>
        <span class="ajax-form-status"><span>
      </div>

    </form>

    <div class="form-group manage-administrator">
      <div class="divider" style="margin-top: 24px; margin-bottom: 14;"></div>
    </div>

    <!-- - - - - - --->
    <!-- HOSTS LIST -->
    <div class="hosts-list hidden manage-administrator" style="margin-top: 24px; margin-bottom: 8px;"></div>

    <!-- - - - - - - -->
    <!--  ADD HOST   -->
    <form id="add-host"
          class="ajax-form card-body  manage-administrator"
          url="../../../api/music/ticket/update/"
          type="post"
          onsuccess="list_hosts">

      <div class="form-group">
        <label class="form-label" for="email-signup">Email</label>
        <input class="form-input input-lg jr-input" id="email-signup" type="email" name="email">
      </div>

      <input class="hidden" type="text" name="stream_uuid" value="{{ stream.uuid }}">
      <input class="hidden" type="text" name="is_administrator" value="true">

      <div class="form-group">
        <button type="submit" form="add-host" class="btn btn-lg btn-secondary jr-btn">Add Host</button>
        <span id="add-host-status" class="ajax-form-status"><span>
      </div>

    </form>

    <div class="form-group manage-administrator">
      <div class="divider" style="margin-top: 24px; margin-bottom: 24px;"></div>
    </div>

    <form id="delete-stream"
          class="ajax-form card-body manage-administrator"
          url="../../../api/music/stream/delete/"
          type="post"
          redirect="/">
      <input class="hidden" type="text" name="stream_uuid" value="{{ stream.uuid }}">

      <div class="form-group" style="margin-bottom: 26px; margin-top: 24px;">
        <label class="form-checkbox">
          <input name="confirm" type="checkbox">
          <i class="form-icon" style="width: 18px; height: 18px; border-radius: 6px;"></i>
          <span style="padding-left: 8px; padding-top: 2px; font-size: 14px; line-height: 23px;">Are you sure?</span>
        </label>
      </div>

      <button class="btn btn-lg btn-primary jr-btn-primary">Delete Stream</button>

    </form>

  </div>

</div>
