<div id="queue-view" class="main center-horizontal card hidden">
  <div class="card-body" style="width: 100%;">

    <div style="display: table-row;">
      <button type="button" class="exit-search-button btn btn-secondary btn-lg search-back-button" style="margin-bottom: 16px; float: left;">
        <i class="icon icon-2x icon-back"></i>
      </button>

      <img class="album-art" draggable="false" style="width: calc(100% - 128px); float: left; margin-left: 24px;"/>

      <button class="btn btn-lg btn-secondary jr-btn-sq fake-search-bar" style="margin-right: 0px; float: right;">
        <i class="icon icon-2x icon-plus"></i>
      </button>
    </div>

    <div id="play-bar-queue" class="content queue">

      <div id="queued-up" style="margin-top: 24px;"></div>
    </div>

  </div>
</div>
