
<div id="search-view" class="main center-horizontal card hidden">
  <div class="card-body" style="width: 100%;">

    <form id="search-library"
          class="ajax-form"
          url="../../../api/music/search/"
          type="get"
          beforesubmit="validate_search_eligible"
          onsuccess="display_search_results">

      <!-- INLINE SEARCH BAR -->
      <div class="input-group search-group">

        <button type="button" class="exit-search-button btn btn-link btn-lg jr-btn-sq">
          <i class="gg-arrow-bottom-left-o" style="bottom: 1px;"></i>
        </button>

        <input id="search-bar-input"
               class="form-input input-lg search-input-bar"
               type="text"
               name="query"
               autocomplete="off"
               spellcheck="false">
        <button type="submit"
                form="search-library"
                class="hidden">
        </button>
      </div>

      <!-- TABS TO SELECT SEARCH PROVIDER -->
      <input id="search-library-provider" class="hidden" name="provider" value="spotify">
      <div id="search-providers" class="filter-nav" style="margin-top: 16px; margin-bottom: 6px; height: 32px;">
        <div class="search-provider active" value="spotify" style="float: right; margin-right: 0px; width: 60px; text-align: center;">
          <i class="fab fa-spotify"></i>
        </div>
        <div class="search-provider" value="youtube" style="float: right; width: 60px; text-align: center;">
          <i class="fab fa-youtube"></i>
        </div>
        <!-- <div class="search-provider" value="soundcloud" style="float: right; width: 60px; text-align: center;" disabled>
          <i class="fab fa-soundcloud"></i>
        </div> -->
        <div class="search-provider" value="file" style="float: right; width: 60px; text-align: center;">
          <i class="fas fa-file-upload"></i>
        </div>
      </div>

      <!-- TABS TO SELECT SEARCH TYPE -->
      <input id="search-library-type" class="hidden" name="type" value="track">
      <div id="search-types" class="filter-nav" style="margin-top: 6px; margin-bottom: 6px; height: 32px;">
        <div class="search-type active" value="track" style="float: right; margin-right: 0px;">Track</div>
        <div class="search-type" value="album" style="float: right;">Album</div>
        <div class="search-type" value="playlist" style="float: right;">Playlist</div>
      </div>

    </form>

    <form id="upload-file-form" class="hidden" style="margin-top: 16px;">
      <input name="file" type="file" {% if not user.is_staff %}disabled{% endif %} />
      <input class="hidden" name="provider" type="text" value="file" />
      {% csrf_token %}

      <input class="hidden" name="stream_uuid" type="text" value="{{ stream.uuid }}">
      <button id="file-upload-button" class="btn btn-lg btn-secondary jr-btn" style="margin-top: 16px; margin-bottom: 16px;" type="" {% if not user.is_staff %}disabled{% endif %}>Submit</button>

      <mark style="border-radius: 8px;">
        <p style="margin: 8px 12px;">
          {% if user.is_staff %}
          This feature allows you to upload a file. You are only permitted to upload content where you own the sole copyright. Everything that you publish will be public at no cost to the entire internet.
          {% else %}
          This feature allows you to upload a file. It is currently only available to music educators and professional musicians. Email us at support@jukebox.radio to request access to this feature.
          {% endif %}
        </p>
      </mark>
    </form>

    <div id="search-results" class="no-scrollbar hidden"></div>

  </div>
</div>
